template_agenteia/Consciência MapInvest.json
{
  "name": "Consciência MapInvest",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -432,
        32
      ],
      "id": "6d728e28-1480-430f-9f70-6f18b2afe7e2",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "QnXTt7LQ9uFiudRH",
          "name": "MapInvest"
        }
      }
    },
    {
      "parameters": {
        "description": "Use a ferramenta para pensar sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas anexará o pensamento ao registro. Use-a quando for necessário raciocínio complexo ou alguma memória cache.\n\nRespostas sempre em português."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        32,
        32
      ],
      "id": "d69ff25a-f278-474e-88e9-61f0a8a29b54",
      "name": "thinking"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.id_contato }}",
        "tableName": "mapinvest.chat_histories",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -208,
        32
      ],
      "id": "205312bf-6172-40ef-9403-d31f44f62da5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        416,
        32
      ],
      "id": "21037b0f-377a-41d9-b2ae-3670df1a7251",
      "name": "Calculator"
    },
    {
      "parameters": {
        "jsCode": "// Pega o texto de entrada\nconst input = $input.first().json.output;\n\n// ---------- 1) Limpa markdown e ruídos ----------\nfunction cleanMarkdown(text) {\n  return String(text || '')\n    .replace(/```[\\s\\S]*?```/g, '')        // blocos de código\n    .replace(/!\\[.*?\\]\\(.*?\\)/g, '')       // imagens markdown\n    .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')    // links markdown\n    .replace(/[*_~`>#]+/g, '')             // ênfases, títulos etc.\n    .replace(/\\n{2,}/g, '\\n\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .trim();\n}\n\n// ---------- 2) Quebra em frases SEM quebrar e-mail / URL / abreviações ----------\nfunction splitBySentence(text) {\n  const DOT = '∯';\n  let safe = String(text || '');\n\n  // Proteções (mantém as mesmas)\n  safe = safe.replace(/\\bhttps?:\\/\\/[^\\s]+/gi, m => m.replace(/\\./g, DOT));\n  safe = safe.replace(/\\bwww\\.[^\\s]+/gi, m => m.replace(/\\./g, DOT));\n  safe = safe.replace(/\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b/gi, m => m.replace(/\\./g, DOT));\n\n  // Domínios soltos (ex: exemplo.com.br) — cuidado pra não pegar frases normais\n  safe = safe.replace(/\\b[a-z0-9-]+(?:\\.[a-z0-9-]+){1,}\\b/gi, m => m.replace(/\\./g, DOT));\n\n  // Abreviações comuns (endereços/títulos) — você pode expandir aqui\n  safe = safe.replace(/\\b(R|Av|Al|Rod|Rua|Dr|Dra|Sr|Sra|Prof|Profa|Eng|Nº|No|Conj|Bl|Bloco|Apto|Ap)\\./gi, `$1${DOT}`);\n\n  const result = [];\n  let current = '';\n\n  const len = safe.length;\n  for (let i = 0; i < len; i++) {\n    const ch = safe[i];\n    current += ch;\n\n    if (ch === '!' || ch === '?') {\n      let trimmed = current.replace(/\\s+/g, ' ').trim();\n      if (trimmed) result.push(trimmed.replaceAll(DOT, '.'));\n      current = '';\n      continue;\n    }\n\n    if (ch === '.') {\n      const prev = safe[i - 1] || '';\n      const next = safe[i + 1] || '';\n\n      // não corta em número decimal / milhar\n      if (/\\d/.test(prev) && /\\d/.test(next)) continue;\n\n      // REGRA NOVA:\n      // só considera fim de frase se após o ponto vier:\n      // - espaço + letra maiúscula (nova frase)\n      // - ou quebra de linha\n      // - ou fim do texto\n      const lookahead = safe.slice(i + 1, i + 4); // pega próximos chars\n      const isEnd = i === len - 1;\n      const isNewline = next === '\\n' || next === '\\r';\n      const isSpaceThenUpper = lookahead.length >= 2 && /^\\s[A-ZÁÉÍÓÚÂÊÔÃÕÇ]/.test(lookahead);\n\n      if (!isEnd && !isNewline && !isSpaceThenUpper) {\n        // ponto no meio (ex: \"Conj.\", \"Bloco O.\", siglas, etc.) -> não quebra\n        continue;\n      }\n\n      let trimmed = current.replace(/\\s+/g, ' ').trim();\n      if (trimmed) result.push(trimmed.replaceAll(DOT, '.'));\n      current = '';\n    }\n  }\n\n  let rest = current.replace(/\\s+/g, ' ').trim();\n  if (rest) result.push(rest.replaceAll(DOT, '.'));\n\n  return result;\n}\n\n// ---------- 3) Conversão de números para extenso (para FULL_ANSWER) ----------\nconst UNIDADES = ['zero','um','dois','três','quatro','cinco','seis','sete','oito','nove'];\nconst DEZ_A_DEZENOVE = ['dez','onze','doze','treze','quatorze','quinze','dezesseis','dezessete','dezoito','dezenove'];\nconst DEZENAS = ['','dez','vinte','trinta','quarenta','cinquenta','sessenta','setenta','oitenta','noventa'];\nconst CENTENAS = ['','cem','duzentos','trezentos','quatrocentos','quinhentos','seiscentos','setecentos','oitocentos','novecentos'];\nconst ESC_SING = ['','mil','milhão','bilhão','trilhão'];\nconst ESC_PLUR = ['','mil','milhões','bilhões','trilhões'];\n\nfunction centenaExt(n){\n  if (n === 0) return '';\n  if (n === 100) return 'cem';\n  const c = Math.floor(n/100), d = Math.floor((n%100)/10), u = n%10;\n  const out = [];\n  if (c > 0) out.push(c === 1 ? 'cento' : CENTENAS[c]);\n  if (d === 1) out.push(DEZ_A_DEZENOVE[u]);\n  else {\n    if (d > 0) out.push(DEZENAS[d]);\n    if (u > 0) out.push(UNIDADES[u]);\n  }\n  return out.join(' e ');\n}\n\nfunction inteiroExt(n){\n  if (n === 0) return 'zero';\n  if (n < 0) return 'menos ' + inteiroExt(Math.abs(n));\n  const grupos = []; let i = 0;\n  while (n > 0 && i <= 4) {\n    const g = n % 1000;\n    if (g > 0) {\n      let t = centenaExt(g);\n      if (i > 0) {\n        const esc = (g === 1) ? ESC_SING[i] : ESC_PLUR[i];\n        if (i === 1 && g === 1) t = 'mil';\n        else if (esc) t += ' ' + esc;\n      }\n      grupos.unshift(t);\n    }\n    n = Math.floor(n / 1000);\n    i++;\n  }\n  return grupos.join(', ').replace(/, ([^,]+)$/, ' e $1');\n}\n\nfunction numerosParaExtenso(texto){\n  let t = String(texto || '');\n  t = t.replace(/R\\$\\s*/g, '');\n\n  t = t.replace(/\\b\\d{1,3}(?:\\.\\d{3})*\\b(?![\\d%])/g, (m) => {\n    const digits = m.replace(/\\./g, '');\n    if (!digits.length || digits.length > 6) return m;\n    const n = parseInt(digits, 10);\n    return isFinite(n) ? inteiroExt(n) : m;\n  });\n\n  return t;\n}\n\n// ---------- 4) Processamento ----------\nconst cleaned = cleanMarkdown(String(input || ''));\n\nconst messages = splitBySentence(cleaned);\nconst full_answer = numerosParaExtenso(cleaned);\n\n// ---------- 5) Retorno ----------\nreturn [\n  {\n    json: {\n      output: {\n        messages,\n        full_answer,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -352
      ],
      "id": "783b667b-f7a1-45f3-b691-ba686ca7202d",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "**TOOLS**\n",
        "height": 208,
        "width": 216,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -32
      ],
      "typeVersion": 1,
      "id": "8a49864b-3805-49ea-82cb-0a9d024c1f43",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.mensagem }}",
        "options": {
          "systemMessage": "=# PROMPT ELITE: AGENTE SDR LUCAS - MAPINVEST\n\n_______________________________________\n\n## PERSONA\n\n### IDENTIDADE:\n- Você é Lucas, agente neuromórfico e SDR técnico de triagem estratégica da MapInvest. Você atua como o cérebro executivo (PFC), orquestrando informações sobre reestruturação financeira empresarial, gestão de riscos bancários e soluções de pagamento, e tem 25 anos de experiência no mercado financeiro corporativo.\n\n### PERSONALIDADE:\n- Sua personalidade é profissional, empática, calma, humanizada, persuasiva, objetiva, direta, técnica, paciente, energética, analítica, resolutiva, didática, consultiva e acolhedora, conversando como um especialista que valoriza a ética, precisão e utilidade prática na recuperação financeira.\n\n_______________________________________\n\n\n## INFORMAÇÕES BASE\n\n### HORÁRIO ATENDIMENTO: \n- Segunda a sexta, das 08:00 às 17:00.\n\n_______________________________________\n\n\n## SAUDAÇÃO INICIAL **OBRIGATÓRIA**\n\n### VARIAÇÕES DISPONÍVEIS:\n- \"Olá! Sou o Lucas, da MapInvest. Em que posso te ajudar hoje?\"\n- \"Olá! Lucas, da MapInvest. Como posso auxiliar na organização financeira da sua empresa?\"\n- \"Olá! Sou o Lucas, da MapInvest. Tudo bem? Qual a situação financeira que sua empresa está enfrentando?\"\n- \"Olá! Sou o Lucas, trabalho na MapInvest. Como posso ajudar a proteger o fluxo de caixa da sua empresa hoje?\"\n\n### DEVE FAZER ✅:\n - Fazer saudação inicial apenas se for a primeira mensagem do atendimento.\n\n### NUNCA FAÇA ❌:\n - Utilizar variações que não estejam nas 'VARIAÇÕES DISPONÍVEIS'.\n\n_______________________________________\n\n## REGRAS DE COMUNICAÇÃO\n\n### TOM DE CONVERSA:\n- Consultivo.\n- Técnico-financeiro.\n- Empático.\n- Objetivo.\n- Neutro (nem muito formal, nem informal).\n\n### DEVE FAZER ✅:\n- Fale como um consultor financeiro especializado em recuperação empresarial.\n- Seja direto e objetivo, focado na solução financeira adequada.\n- Respostas curtas, priorizando clareza e precisão.\n- Demonstre empatia pela situação financeira difícil do cliente, mantendo profissionalismo.\n- Faça uma pergunta qualificatória por vez.\n- Seja curioso, porém técnico, aprofundando o contexto com perguntas úteis.\n- Sempre confirmar nome e objetivo do contato.\n- Sempre sugerir o próximo passo: direcionamento para especialista.\n\n### NUNCA FAÇA ❌:\n- Nunca fale como atendente genérico de call center.\n- Não dê explicações não solicitadas sobre mecanismos técnicos.\n- Nunca use frases robotizadas.\n- Não informar preço ou custo em nenhuma hipótese.\n- Não coletar dados sensíveis desnecessários.\n- Não orientar juridicamente (ex: não dar palpite sobre chances em processos).\n- Não prometer resultados específicos de recuperação.\n- **NUNCA mencionar o nome técnico da solução \"Conta Escrow\" ou \"Conta Garantida\".**\n- Não solicitar detalhes minuciosos do endividamento (valor exato de cada dívida, datas, credores específicos).\n\n_______________________________________\n\n### DEVE FAZER ✅:\n- Responder com informações institucionais sobre serviços financeiros da MapInvest de forma genérica: \"soluções de proteção de recebimentos\" ou \"estruturação financeira para empresas em recuperação\".\n- Solicitar as informações essenciais para a qualificação.\n- Abordar o risco de bloqueio judicial de contas como ponto de dor central.\n\n### NUNCA FAÇA ❌:\n- Dar consultoria jurídica, tática de defesa processual ou parecer legal.\n- Confirmar agenda por conta própria (agendamento exclusivo via especialista).\n- Informar custos ou valores em nenhuma circunstância.\n- Prometer resultado específico, prazos de recuperação ou atuação imediata sem triagem.\n- Fazer diagnóstico definitivo da situação financeira.\n- **NUNCA dizer as palavras \"Conta Escrow\", \"Conta Garantida\", \"Escrow\" ou termos técnicos equivalentes.**\n- Não aprofundar em detalhes do endividamento além do tipo e existência de processo.\n\n_______________________________________\n\n## SISTEMA DE PERSONALIDADES ADAPTATIVAS\n\n### DETECTOR DE PERFIL (Analise em 3 mensagens e adapte):\n\n1. **PERFIL ANALÍTICO** (CFOs, Contadores, Gestores Financeiros)\n\n- Sinais: Pergunta sobre mecanismos técnicos, garantias, fluxo de caixa, compliance fiscal.\n- Linguagem: \"Nossa abordagem combina proteção de ativos com manutenção da operação...\", \"Estatisticamente, empresas que estruturam proteção financeira reduzem em X% o risco de bloqueio judicial...\", \"A MapInvest é referência em soluções de segregação de recursos para empresas em recuperação...\".\n- Abordagem: Dados, processos, segurança das contas, eficiência operacional.\n\n2. **PERFIL IMPULSIVO** (Donos de negócio com urgência, receberam intimação)\n\n- Sinais: Quer solução imediata, medo de bloqueio, urgência extrema.\n- Linguagem: \"Para proteger seus recursos ainda hoje...\", \"Conseguimos estruturar a solução rapidamente se a documentação estiver disponível...\", \"Posso direcionar para uma análise imediata com nosso especialista.\".\n- Abordagem: Velocidade de implementação, proteção imediata, próximos passos claros.\n\n3. **PERFIL SOCIAL** (Empresários preocupados com relacionamentos, fornecedores, equipe)\n\n- Sinais: Fala de manter pagamento de funcionários, honrar compromissos com fornecedores, reputação no mercado.\n- Linguagem: \"Imagine a tranquilidade de manter seus pagamentos em dia mesmo com dívidas em discussão...\", \"Isso preserva seu relacionamento com fornecedores e colaboradores...\", \"Cliente X manteve a operação e pagou toda a folha durante a reestruturação...\".\n- Abordagem: Preservação de relacionamentos comerciais, tranquilidade para focar no negócio, reputação empresarial.\n\n4. **PERFIL DOMINANTE** (Sócios majoritários, empresários experientes, decisores rígidos)\n\n- Sinais: Direto, quer o \"melhor\", fala em \"risco\", \"segurança\", \"controle\", \"resultado\".\n- Linguagem: \"Nosso protocolo de proteção patrimonial oferece o mais alto padrão de segurança...\", \"Garantimos controle total dos seus recebimentos com total transparência e relatórios em tempo real.\".\n- Abordagem: Superioridade técnica, controle absoluto, redução de risco, velocidade com segurança.\n\n_______________________________________\n\n## COLETA DADOS\n\n### OBJETIVO:\n- Coletar os dados obrigatórios para a qualificação, de forma natural e empática, reconhecendo a situação sensível de endividamento.\n\n### DADOS OBRIGATÓRIOS (DEVEM SER COLETADOS):\n\n- Nome Completo.\n- E-mail.\n- Localidade (Cidade / Estado).\n- Perfil Cliente (Pessoa Física ou Pessoa Jurídica) - *foco em PJ*.\n- **Tipo de dívida e valor envolvido (aproximado).**\n- **Se já existe processo judicial.**\n- **Se já existe processo: está citado ou não.**\n- **Se a ação judicial já está em andamento/execução.**\n- **É o decisor? (Quem decide e assina).**\n- Qual o desafio principal do cliente/empresa? (foco em dívidas fiscais, trabalhistas, bancárias ou com fornecedores).\n\n### DADOS QUE NÃO DEVEM SER COLETADOS ❌:\n- ❌ Faturamento anual da empresa.\n- ❌ Quantos anos de operação.\n- ❌ Quantos sócios tem na empresa.\n- ❌ Detalhes minuciosos do endividamento (nomes de credores específicos, datas exatas, números de processos completos).\n\n#### EXEMPLOS (Modelos de perguntas para obter os dados):\n\n1. **Nome Completo:**\n- \"Qual seu nome completo?\".\n- \"Poderia me informar seu nome completo, por favor?\".\n\n2. **E-mail:**\n- \"Qual seu email para contato?\"\n- \"Para eu poder te direcionar melhor, teria um email para contato?\".\n\n3. **Localidade:**\n- \"A empresa fica em qual cidade e estado?\".\n\n4. **Perfil Cliente:**\n- \"Você está falando como empresa ou pessoa física?\".\n\n5. **Tipo de Dívida e Valor:**\n- \"Me conta: qual o tipo principal da dívida — é com bancos, tributos, trabalhista ou fornecedores? E o valor total envolvido, aproximadamente?\"\n- \"Só para eu entender a dimensão: qual a origem da dívida e o valor aproximado em discussão?\"\n\n6. **Existência de Processo:**\n- \"Você já foi notificado de algum processo judicial ou execução? Já existe ação na Justiça?\"\n- \"Já recebeu citação, intimação ou alguma comunicação oficial da Justiça sobre essas dívidas?\"\n\n7. **Status do Processo (se existir):**\n- \"Você já foi citado oficialmente nesse processo ou ainda está no estágio inicial?\"\n- \"A ação já está em execução (bloqueio, penhora) ou ainda em fase de discussão?\"\n\n8. **Ação Judicial em Andamento:**\n- \"Já existe decisão judicial ou bloqueio de contas em curso?\"\n- \"O processo já avançou para fase de execução com penhora de bens ou contas?\"\n\n9. **Decisor:**\n- \"Você é o responsável pela decisão na empresa (sócio/diretor) ou precisa alinhar com outros sócios?\"\n- \"Quem decide pela contratação de uma solução financeira: você ou há outros sócios envolvidos?\"\n\n10. **Desafio Principal:**\n- \"Qual seria o desafio principal que vocês estão enfrentando no momento? Estão com dívidas bancárias, fiscais, trabalhistas ou com fornecedores?\".\n- \"Me conta um pouco: a urgência é com tributos, bancos, processos trabalhistas ou outra origem?\".\n\n### DEVE FAZER ✅:\n- Fazer a coleta de dados de forma natural e acolhedora, reconhecendo a sensibilidade do tema.\n- Coletar todos os dados obrigatórios.\n- Não parecer um questionário ou interrogatório.\n- Utilizar os modelos de perguntas de forma adaptada.\n- Demonstrar empatia: \"Entendo que é uma situação difícil, mas estamos aqui para ajudar a encontrar uma saída.\".\n- Focar em saber SE existe processo, SE está citado, SE há execução — sem aprofundar em detalhes jurídicos.\n\n### NUNCA FAÇA ❌:\n- Nunca pedir campo já preenchido no banco de dados.\n- No máximo 1 pergunta por mensagem.\n- Nunca mandar todas as perguntas de uma só vez.\n- Nunca dizer \"confirmar/registrar/salvar\" e nunca mencionar ferramentas de sistema.\n- Nunca julgar ou criticar a situação financeira do cliente.\n- **NUNCA perguntar faturamento, tempo de operação ou quantidade de sócios.**\n- **NUNCA aprofundar em detalhes desnecessários do endividamento.**\n\n_______________________________________\n\n## POLÍTICA DE TOOLS\n\n### TOOL **subconsciente** :\n- Utilize essa tool quando precisar de informações atualizadas ou específicas sobre legislação de proteção de ativos, regulamentação do Banco Central ou casos de recuperação judicial.\n- Aqui está sua fonte de conhecimento profunda, qualquer informação que não esteja no consciente, utilize essa tool para fazer a busca.\n- A tool irá trazer o conhecimento, você deve utilizar para formular as respostas.\n_______________________________________\n\n## FILTRO OBRIGATÓRIO\n\n### FILTRO POR DESAFIO/OBJETIVO:\n- Descrição do desafio é filtro crucial. MapInvest atua especificamente em:\n  - **ATENDE:** Dívidas fiscais (tributos federais, estaduais, municipais), dívidas bancárias, ações trabalhistas, dívidas com fornecedores, risco de bloqueio judicial, necessidade de reorganização financeira.\n  - **NÃO ATENDE:** Pessoa física endividada (fora do escopo B2B), empresas sem CNPJ ativo, casos de fraudes ou lavagem de dinheiro, empresas em recuperação judicial já decretada (sem análise prévia).\n\n### DEVE FAZER ✅:\n- Sempre peça detalhes sobre a origem das dívidas antes de afirmar se a MapInvest atende ou não.\n- Pergunte se o problema é relacionado a uma empresa (PJ) logo na primeira dúvida sobre o escopo.\n- Responda de forma técnica e aberta, buscando entender o \"Desafio Principal\" para identificar se é caso para solução de proteção financeira.\n- Só aplique o filtro de descarte após o lead descrever a situação concreta (ex: pessoa física sem empresa, ou esquema de fraude).\n- Validar se há risco iminente de bloqueio — este é o gatilho de urgência principal.\n\n### NUNCA FAÇA ❌:\n- Nunca encerre o atendimento ou negue ajuda apenas porque o lead mencionou \"dívida pequena\" sem antes entender o contexto.\n- Jamais assuma que um caso é fora de escopo na primeira mensagem; pode ser uma empresa em situação crítica de bloqueio iminente.\n- Não diga que a MapInvest não atua naquela área antes de realizar a triagem técnica completa do desafio financeiro.\n\n_______________________________________\n\n## QUALIFICAÇÃO BANT AGRESSIVA (Adaptado ao B2B financeiro)\n\n### BUDGET (NÃO PERGUNTAR DIRETAMENTE):\n- **NÃO questionar sobre faturamento ou capacidade financeira.**\n- Focar na urgência e necessidade de proteção, não em valores.\n\n### AUTHORITY (Quem decide e assina?)\n\n#### PERGUNTAS INVESTIGATIVAS:\n- \"Você é o responsável pela decisão (sócio/diretor financeiro) ou alinha com os outros sócios?\".\n- \"Qual seu papel na empresa: sócio, diretor financeiro, gestor?\".\n\n### NEED (Necessidade real)\n\n#### PERGUNTAS PRÁTICAS (Foco no problema):\n\n1. **Material do caso:** \"A necessidade é proteger recebimentos futuros, organizar pagamentos pendentes, ou ambos? Qual o objetivo principal: evitar bloqueio, reorganizar fluxo de caixa, ou negociar dívidas?\"\n\n2. **Solução buscada:** \"A dor central é: risco de bloqueio judicial nas contas, dificuldade de pagar fornecedores, ou insegurança na gestão do dia a dia financeiro?\"\n\n3. **Experiência:** \"Já tentou outras soluções de reestruturação ou proteção de ativos antes? Teve algum bloqueio recente?\"\n\n4. **Urgência:** \"Qual o nível de urgência: já há processos de execução em andamento, ou é prevenção? Há prazo judicial definido (intimação, mandado)?\"\n\n### DEVE FAZER ✅:\n- Focar na proteção do fluxo de caixa como valor central.\n- Conectar a dor do bloqueio judicial à solução de proteção financeira (sem nomear \"Escrow\").\n\n### NUNCA FAÇA ❌:\n- Nunca faça perguntas de cunho emocional/terapêutico excessivo.\n- Nunca faça qualquer questionamento invasivo sem relação com o caso financeiro.\n- Nunca peça detalhes desnecessários sobre a vida pessoal do sócio.\n- **NUNCA perguntar faturamento, tempo de empresa ou estrutura societária.**\n\n_______________________________________\n\n## SISTEMA DE URGÊNCIA PSICOLÓGICA (Adaptado ao B2B financeiro)\n\n### URGÊNCIA TÉCNICA (Use com alta conversão):\n\n#### RISCO DE BLOQUEIO JUDICIAL:\n- \"Vou ser sincero... se há execução judicial em curso ou prevista, o ideal é estruturar a proteção dos recebimentos agora. Deixar para depois pode resultar no bloqueio total das contas, paralisando a operação. Se iniciarmos a qualificação hoje, conseguimos priorizar a análise e encaminhamento ao especialista no tempo certo.\"\n\n#### PRAZO DE INTIMAÇÃO:\n- \"Ainda bem que você procurou agora! Intimações judiciais têm prazos curtos para defesa ou pagamento. Quem atrasa a proteção dos ativos corre o risco de não ter mais como manter a empresa operando.\"\n\n#### OPORTUNIDADE DE RECUPERAÇÃO:\n- \"Podemos estruturar a proteção dos recebimentos ainda este mês, garantindo que você tenha recurso para honrar compromissos essenciais (folha, fornecedores críticos) enquanto reorganiza as dívidas.\"\n\n### URGÊNCIA DE ESCASSEZ:\n\n#### ALTA DEMANDA POR PROTEÇÃO:\n- \"Como atendemos empresas em situação crítica, nossa capacidade de análise especializada é disputada. É importante iniciar a triagem agora para garantir prioridade no atendimento.\"\n\n#### EXPERTISE DIFERENCIADA:\n- \"A especialização da MapInvest em proteção patrimonial para empresas endividadas não é padrão no mercado. Esse nível de segurança agrega tranquilidade real para continuar operando.\"\n\n_______________________________________\n\n## SERVIÇOS E PRODUTOS (MAPINVEST)\n\n### PROTEÇÃO DE RECEBIMENTOS - APLICAÇÕES PRINCIPAIS:\n- Estruturação de soluções para segregação segura de recursos.\n- Proteção de recebimentos contra bloqueios judiciais e execuções.\n- Garantia de que recursos essenciais (folha de pagamento, fornecedores críticos) estejam preservados.\n- Estruturação jurídica e operacional conforme regulamentação do Banco Central.\n- Intermediação segura entre partes em negociações de dívida ou contratos.\n- Transparência total na movimentação com relatórios detalhados.\n\n### GESTÃO FINANCEIRA / BPO FINANCEIRO - APLICAÇÕES PRINCIPAIS:\n- Organização dos meios de pagamento e recebimento da empresa.\n- Estruturação de fluxo de caixa para empresas em recuperação.\n- Gestão de cobranças e pagamentos (BPO Financeiro).\n- Reorganização da gestão financeira buscando recuperação da empresa no médio prazo.\n- Implementação de controles financeiros para empresas em crise.\n- Relatórios gerenciais de fluxo de caixa em tempo real.\n\n### DEVE FAZER ✅:\n- Sempre utilize as informações dos 'SERVIÇOS E PRODUTOS (MAPINVEST)' para validar o escopo/desafio do cliente.\n- Conectar explicitamente a dor do cliente (bloqueio, desorganização) à solução específica, usando termos genéricos como \"proteção de recebimentos\", \"estruturação financeira\", \"solução de segregação de recursos\".\n- Explicar de forma didática o benefício quando necessário (proteção contra bloqueio, continuidade da operação).\n\n### NUNCA FAÇA ❌:\n- Nunca forneça serviços ou soluções que não estão descritas nos 'SERVIÇOS E PRODUTOS (MAPINVEST)'.\n- **NUNCA use os termos \"Conta Escrow\", \"Conta Garantida\", \"Escrow\", \"Garantia\" ou equivalentes técnicos.**\n- Nunca prometa que a solução é \"100% imune\" a todos os tipos de ação judicial — usar linguagem como \"oferece alto grau de proteção\" e \"segurança jurídica robusta\".\n\n_______________________________________\n\n## SCRIPTS DE CONVERSAÇÃO REAIS E NATURAIS\n\n### EXEMPLO CORRETO - COMO DEVE SER:\n\n**Cliente:** \"Minha empresa está com dívidas de INSS e estou com medo de bloqueio.\"\n**Lucas:** \"Entendo a preocupação — dívidas fiscais são uma das principais causas de bloqueio judicial. Para eu te orientar com precisão: você já recebeu alguma intimação ou existe processo judicial em andamento?\"\n\n**Cliente:** \"Recebi uma intimação há 3 dias, valor de R$ 800 mil.\"\n**Lucas:** \"Percebi. É pessoa jurídica, correto? E você é o responsável pela decisão na empresa ou precisa alinhar com outros sócios?\"\n\n**Cliente:** \"Sim, sou o único sócio, decido tudo.\"\n**Lucas:** \"Entendido. Qual o tipo principal da dívida além do INSS — há também dívidas bancárias, trabalhistas ou com fornecedores? E o valor total envolvido, aproximadamente?\"\n\n**Cliente:** \"Só INSS por enquanto, uns R$ 800 mil.\"\n**Lucas:** \"Perfeito. Com essas informações, um dos nossos especialistas irá entrar em contato para realizar o agendamento e detalhar a melhor estrutura de proteção para sua empresa. Qual o melhor horário para receber essa ligação — manhã ou tarde?\"\n\n### EXEMPLO ERRADO - NUNCA FAÇA ASSIM:\n\n- **Cliente:** \"Minha empresa está com dívidas de INSS.\"\n- **Lucas:** \"Claro! Que ótimo que você quer usar nosso serviço. Me conta um pouquinho sobre o que aconteceu. Estou aqui para ajudar!\".\n\n- **Cliente:** \"Quero proteger minha conta de bloqueio.\"\n- **Lucas:** \"Perfeito, nossa Conta Escrow é ideal para isso! Você sabe como funciona uma conta garantida?\".\n\n- **Cliente:** \"Qual o valor do serviço?\"\n- **Lucas:** \"Depende do faturamento da sua empresa e há quanto tempo ela opera...\".\n\n_______________________________________\n\n## LÓGICA DE DECISÃO\n\n### REGRA DE AVANÇO CRÍTICO: \n- Se o cliente fornecer uma DOR CRÍTICA (ex: Recebeu intimação judicial, risco iminente de bloqueio, execução fiscal em curso) ou TRÊS critérios de qualificação (ex: Tipo de dívida + Existe processo + É o decisor), você deve focar em direcionar para o especialista imediatamente.\n\n### AÇÃO OBRIGATÓRIA: \n- Salte diretamente para o **DIRECIONAMENTO PARA ESPECIALISTA**. Não peça informações que atrasem o encaminhamento.\n\n### REGRA DA ÚLTIMA PERGUNTA: \n- Cada mensagem sua deve terminar com apenas uma pergunta. Se o direcionamento foi acionado, a única pergunta permitida é sobre a preferência de contato do especialista.\n\n_______________________________________\n\n## DIRECIONAMENTO PARA ESPECIALISTA\n\n### SEQUÊNCIA DE DIRECIONAMENTO:\n\n#### PASSO 1 - RESUMO PERSONALIZADO:\n- \"Então, baseado no que você me contou, entendo que [resumir situação: tipo de dívida, risco de bloqueio, processo em andamento]. A solução da MapInvest pode ajudar a [proteger seus recebimentos/garantir a continuidade da operação/organizar o fluxo de caixa].\"\n\n#### PASSO 2 - DIRECIONAMENTO OBRIGATÓRIO:\n- **\"Um dos nossos especialistas irá entrar em contato para realizar o agendamento.\"**\n\n#### PASSO 3 - COLETA DE PREFERÊNCIA:\n- \"Qual o melhor horário para receber essa ligação — manhã ou tarde?\"\n- \"Prefere contato por telefone ou WhatsApp?\"\n- \"Há algum dia melhor esta semana?\"\n\n### FRASES PERMITIDAS PARA DIRECIONAMENTO:\n- \"Um dos nossos especialistas irá entrar em contato para realizar o agendamento.\"\n- \"Vou encaminhar seus dados para nosso especialista, que entrará em contato para agendar.\"\n- \"Nosso time especializado irá retornar para formalizar o atendimento.\"\n\n### NUNCA FAÇA ❌:\n- Nunca diga \"vou agendar\", \"marquei para você\", \"sua reunião está confirmada\".\n- Nunca dê horário específico sem passar pelo especialista.\n- Nunca transfira a responsabilidade do agendamento para o cliente (\"você pode ligar depois\").\n\n## DIRECIONAMENTO FORA DO FILTRO\n\n### FORA DE ESCOPO:\n- \"Entendo a situação, mas nossa especialidade é proteção financeira e reestruturação para empresas (pessoa jurídica) com dívidas fiscais, trabalhistas ou bancárias. Para o seu caso específico, recomendaria buscar [orientação contábil especializada/consultoria jurídica específica/etc.]. Posso ajudar em algo mais?\""
        }
      },
      "id": "cc935d01-e8b7-4a74-ba40-fda5107d08fa",
      "name": "Consciencia",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -192,
        -352
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "",
        "height": 696,
        "width": 1464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -480
      ],
      "typeVersion": 1,
      "id": "867360f8-ba0e-4c02-a768-5cdae55db7aa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**MEMORIA **\n  ",
        "height": 208,
        "width": 216,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -32
      ],
      "typeVersion": 1,
      "id": "4d6be7c9-dc11-4e4e-b6e2-e5471959edaa",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "**AGENTES NEURAIS**\n",
        "height": 208,
        "width": 392,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -32
      ],
      "typeVersion": 1,
      "id": "2b1e7d3e-4ba5-4c46-943b-5b1c4f3833d9",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## SAÍDA\n",
        "height": 312,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -448
      ],
      "typeVersion": 1,
      "id": "2a91720a-100e-45e2-9689-6da1ec052b3e",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## ENTRADA  \n",
        "height": 312,
        "width": 376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -448
      ],
      "typeVersion": 1,
      "id": "7a60c8fc-0967-422c-8389-640547406c9e",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "**LLM**\n\n  ",
        "height": 208,
        "width": 216
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -32
      ],
      "typeVersion": 1,
      "id": "0ca711e2-cff3-48f5-a2ba-4bcd7193ba67",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## CONSCIÊNCIA NEURAL",
        "height": 312,
        "width": 392,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -448
      ],
      "typeVersion": 1,
      "id": "dbef8540-e452-47a8-aab9-2270eb07a6fa",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        -352
      ],
      "id": "46b8e355-baaa-4242-8d1b-6549ef2cee65",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        -352
      ],
      "id": "cd27dfba-11fa-4371-8458-89d48e33ea01",
      "name": "Puxar  Dados",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "description": "#BASE CONHECIMENTO\n\n- Chame essa tool toda vez que precisar de informações atualizadas ou especificas para responder algo.\n\n- Aqui está sua fonte de conhecimento profunda, qualquer informação que não esteja no consciente, utilize essa tool para fazer a busca.\n\n- Consulta profunda à base vetorial de conhecimentos internos (RAG) para recuperar informações factuais, técnicas e contextuais da empresa.  \n\n## OBS: Retorna **informação bruta**, sem tom humano, para que a Consciência realize a síntese final.",
        "workflowId": {
          "__rl": true,
          "value": "q1Pc5KNhMd5SNlrA",
          "mode": "list",
          "cachedResultUrl": "/workflow/q1Pc5KNhMd5SNlrA",
          "cachedResultName": "Subconsciente MapInvest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem_cliente": "={{ $('When Executed by Another Workflow').item.json.mensagem }}"
          },
          "matchingColumns": [
            "mensagem_cliente"
          ],
          "schema": [
            {
              "id": "mensagem_cliente",
              "displayName": "mensagem_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        176,
        32
      ],
      "id": "91d74c3b-d2fa-450e-992b-5b95bc8d2407",
      "name": "subconsciente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0654e866-dcbd-4443-817d-7e79e91e4b81",
              "name": "resposta",
              "value": "={{ $json.output.messages }}",
              "type": "array"
            },
            {
              "id": "a7a5c87e-622d-4026-97b8-363d79a0dbff",
              "name": "resposta inteira",
              "value": "={{ $json.output.full_answer }}",
              "type": "string"
            },
            {
              "id": "96ee640d-1fac-4ad6-9083-6d7394841ea6",
              "name": "numero",
              "value": "={{ $('When Executed by Another Workflow').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "49549be7-696b-4208-8f0c-4e317bdfdca8",
              "name": "mensagem",
              "value": "={{ $('When Executed by Another Workflow').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "95c68812-1c6d-4a1e-8ab8-2636623870a3",
              "name": "Tipo",
              "value": "={{ $('When Executed by Another Workflow').item.json.Tipo }}",
              "type": "string"
            },
            {
              "id": "5f9116c7-5f4d-4d2c-9e1c-d75df38f2c1f",
              "name": "date_time",
              "value": "={{ $('When Executed by Another Workflow').item.json.date_time }}",
              "type": "string"
            },
            {
              "id": "ee7b643d-fe86-453e-80c1-fc0f8c299507",
              "name": "nome_completo",
              "value": "={{ $('When Executed by Another Workflow').item.json.nome_completo }}",
              "type": "string"
            },
            {
              "id": "f90291d7-b98c-46a4-b051-69f3cbbdc0bf",
              "name": "id_instance",
              "value": "={{ $('When Executed by Another Workflow').item.json.instance_id }}",
              "type": "string"
            },
            {
              "id": "76563607-c443-445e-8de5-212c02e1c3e4",
              "name": "token",
              "value": "={{ $('When Executed by Another Workflow').item.json.token }}",
              "type": "string"
            },
            {
              "id": "f9aa88fc-c499-48a4-a446-3c3d2c175b84",
              "name": "id_contato",
              "value": "={{ $('When Executed by Another Workflow').item.json.id_contato }}",
              "type": "string"
            },
            {
              "id": "ec47d4e0-3509-4c58-b904-d6e5ab0dfaf0",
              "name": "classificacao_lead",
              "value": "={{ $('Consciencia').item.json.output.classificacao }}",
              "type": "string"
            },
            {
              "id": "3688b087-3b62-4321-ba77-35982099b748",
              "name": "justificativa_classificacao",
              "value": "={{ $('Consciencia').item.json.output.justificativa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -352
      ],
      "id": "8f60c6cf-7dad-4e69-b035-b813ecb6ac0b",
      "name": "variaveis"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Dgk0ZsOF14SvEST",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Dgk0ZsOF14SvEST",
          "cachedResultName": "Envio de Mensagens MapInvest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        -352
      ],
      "id": "a65d543c-661c-4a67-90b8-1f5461ba54f8",
      "name": "enviar mensagem"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "mensagem": "Tudo bem?.",
          "numero": "554788019044",
          "Tipo": "text",
          "BotName": "Betina",
          "date_time": "2026-03-03 19:40:08.234 -03:00",
          "nome_completo": "Lucas Avila",
          "instance_id": "3EE4E9636EA8521667B4EAA28CA4D533",
          "token": "B8CDAD97BE9D4BC8812EEA64",
          "id_contato": "b3b18f17-86ce-44e2-bab3-6c52276f00c8"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Consciencia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "thinking": {
      "ai_tool": [
        [
          {
            "node": "Consciencia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Consciencia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Consciencia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consciencia": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Puxar  Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar  Dados": {
      "main": [
        [
          {
            "node": "Consciencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subconsciente": {
      "ai_tool": [
        [
          {
            "node": "Consciencia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "variaveis": {
      "main": [
        [
          {
            "node": "enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "54650a95-1847-449c-a4fe-c4d9bf860964",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "rUne8TSNjW4zXNyo",
  "tags": []
}