template_agenteia/Envio de Mensagens MapInvest.json
{
  "name": "Envio de Mensagens MapInvest",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        272,
        -800
      ],
      "id": "26dd4336-7cd3-4931-9b71-572c54c82d85",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2016,
        -928
      ],
      "id": "55734a11-023e-48e5-a290-3c37ae9cc1d8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "152aad45-c191-495d-9e04-4178ce3cdf8f",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.Tipo }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "84141b7e-db8e-45f4-8fa7-cd1693abacac",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.resposta }} ",
              "rightValue": "https",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        -800
      ],
      "id": "9d91b99e-e7ed-45f3-9027-5a2e24dd8395",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const output = $('Information Extractor1').first().json.output ?? {};\nconst base = { ...$json };\n\n// ---------- Utils ----------\nfunction normalizeKey(key) {\n  return String(key)\n    .trim()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\nfunction normalizeValue(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'string') {\n    const t = v.trim();\n    if (!t) return null;\n    if (t.toLowerCase() === 'null') return null;\n    return t;\n  }\n  return v;\n}\n\nfunction has(v) {\n  if (v === null || v === undefined) return false;\n  if (typeof v === 'string') return normalizeValue(v) !== null;\n  if (Array.isArray(v)) return v.length > 0;\n  if (typeof v === 'object') return Object.keys(v).length > 0;\n  return true;\n}\n\n// ====== 1) estado do lead (base + output) ======\nconst state = {};\n\n// 1.1) inclui base normalizado\nfor (const [k, v] of Object.entries(base)) {\n  const nk = normalizeKey(k);\n  const nv = normalizeValue(v);\n  if (nv === null) continue;\n  state[nk] = nv;\n}\n\n// 1.2) inclui output normalizado (sobrescreve base)\nfor (const [k, v] of Object.entries(output)) {\n  const nk = normalizeKey(k);\n  const nv = normalizeValue(v);\n  if (nv === null) continue;\n  state[nk] = nv;\n}\n\n// ====== 4) monta payload com TUDO que tem valor + id sempre ======\nconst payload = {};\n\n// id sempre (mesmo se vazio)\npayload.id = base.id ?? state.id ?? null;\n\n// inclui todos os campos do state que têm valor\nfor (const [k, v] of Object.entries(state)) {\n  if (k === 'id') continue; // já garantimos acima\n  if (!has(v)) continue;\n  payload[k] = v;\n}\n\nreturn [{ json: payload }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -1200
      ],
      "id": "72ccea60-ccec-4a28-b2f7-2c9c571221e7",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c00b35-76de-4668-b314-826a0de78308",
              "name": "resposta",
              "value": "={{ $('When Executed by Another Workflow').item.json.resposta }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -800
      ],
      "id": "9e78d8c8-9ffd-4bde-bc7f-b74413c7b7d2",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "resposta",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        -656
      ],
      "id": "1042ccf1-d9c7-4bef-9f90-d90e23ba4f11",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab752087-7e7c-4dc1-9162-af15e0df8827",
              "name": "resposta",
              "value": "={{ $('When Executed by Another Workflow').item.json['resposta inteira'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -928
      ],
      "id": "6759b4af-fdbf-4e93-8bf1-72a7be84e513",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "**SALVAR NO BANCO**",
        "height": 224,
        "width": 588,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        -1264
      ],
      "id": "36c7e966-fb9b-4c3e-a230-44e62d7118e6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\n\n// Função para converter abreviações de unidades em texto por extenso\nfunction normalizeUnits(text) {\n  if (typeof text !== 'string') return text;\n\n  // Números + unidade (15 mm, 2,5 mm, 3.2 mm, etc.)\n  text = text.replace(/\\b(\\d+(?:[.,]\\d+)?)\\s*mm\\b/gi, '$1 milímetros');\n  text = text.replace(/\\b(\\d+(?:[.,]\\d+)?)\\s*cm\\b/gi, '$1 centímetros');\n  text = text.replace(/\\b(\\d+(?:[.,]\\d+)?)\\s*m\\b(?![a-zA-Z0-9])/gi, '$1 metros'); // cuidado com 'm²'\n\n  // Só a unidade sozinha (sem número antes)\n  text = text.replace(/\\bmm\\b/gi, 'milímetros');\n  text = text.replace(/\\bcm\\b/gi, 'centímetros');\n\n  // Exemplos extra, se quiser:\n  text = text.replace(/\\bm²\\b/gi, 'metros quadrados');\n  text = text.replace(/\\bm3\\b/gi, 'metros cúbicos');\n  text = text.replace(/\\bm³\\b/gi, 'metros cúbicos');\n  text = text.replace(/\\bkg\\b/gi, 'quilos');\n\n  return text;\n}\n\nreturn items.map(item => {\n  const r = item.json.resposta; // o que você tinha antes\n\n  let messagesArray;\n\n  // Caso 1: resposta já é um objeto { messages: [...] }\n  if (r && Array.isArray(r.messages)) {\n    messagesArray = r.messages;\n  }\n  // Caso 2: resposta veio como string JSON\n  else if (typeof r === 'string') {\n    try {\n      const parsed = JSON.parse(r);\n      if (parsed && Array.isArray(parsed.messages)) {\n        messagesArray = parsed.messages;\n      } else if (Array.isArray(parsed)) {\n        messagesArray = parsed;\n      }\n    } catch (e) {\n      // não é JSON, deixa passar\n    }\n  }\n\n  let textoFinal;\n\n  // Se achamos um array de mensagens, junta tudo\n  if (messagesArray) {\n    // aqui você pode mudar o separador, se quiser quebra de linha coloca '\\n\\n'\n    textoFinal = messagesArray.join(' ');\n  } else {\n    // fallback: manda como string mesmo\n    textoFinal = String(r ?? '');\n  }\n\n  // Aqui entra a correção das unidades (mm -> milímetros, etc.)\n  item.json.respostaTexto = normalizeUnits(textoFinal);\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -928
      ],
      "id": "13578234-868c-448c-afde-99207e120076",
      "name": "formatar mensagem"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msgIa": "={{ Number($('puxar contato1').item.json.msgIa) + 1 }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "localidade",
              "displayName": "localidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "perfil",
              "displayName": "perfil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msgIa",
              "displayName": "msgIa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "iaStatus",
              "displayName": "iaStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -944
      ],
      "id": "d8e7c812-8e9b-43d2-a792-df66f1d05865",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('When Executed by Another Workflow').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -800
      ],
      "id": "6739c4dd-4c88-4f53-8b83-55c5c3b11213",
      "name": "puxar contato1",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $('When Executed by Another Workflow').item.json.id_instance }}/token/{{ $('When Executed by Another Workflow').item.json.token }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F816f10832d1e426db1905665baa26035S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('When Executed by Another Workflow').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "={{ $json.resposta }}"
            },
            {
              "name": "delayTyping",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1840,
        -656
      ],
      "id": "1821c3e8-2b48-4b09-b131-7004828df6db",
      "name": "enviar mensagem",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $('When Executed by Another Workflow').item.json.id_instance }}/token/{{ $('When Executed by Another Workflow').item.json.token }}/send-audio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F816f10832d1e426db1905665baa26035S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('When Executed by Another Workflow').item.json.numero }}"
            },
            {
              "name": "audio",
              "value": "=data:audio/mp3;base64,{{ $json.data }}"
            },
            {
              "name": "viewOnce",
              "value": "false"
            },
            {
              "name": "waveform",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        -928
      ],
      "id": "6f53233d-8acb-4e70-b4de-d2d667984ebd",
      "name": "enviar audio1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": "={{ $('puxar contato1').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "localidade",
              "displayName": "localidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "anos_operacao",
              "displayName": "anos_operacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "faturamento",
              "displayName": "faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "perfil",
              "displayName": "perfil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "msgIa",
              "displayName": "msgIa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "iaStatus",
              "displayName": "iaStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        -1200
      ],
      "id": "63ea58bc-430c-4e06-a99b-e3ed3e484ba5",
      "name": "armazenar dados",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2032,
        -656
      ],
      "id": "e4e4ae37-cc99-4019-98f3-ceb0f866488d",
      "name": "Wait",
      "webhookId": "c7673ef7-bdd5-4364-8a28-dfcb153111f8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1664,
        -656
      ],
      "id": "88627f00-53a3-4c75-bf90-1cc16ad1c5f7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone da entrada e garante que é string\nconst phone = String($('When Executed by Another Workflow').first().json.numero || \"\");\n\n// Remove tudo que não for número\nlet digits = phone.replace(/\\D/g, \"\");\n\n// Remove o 55 inicial\nlet cleaned = digits.startsWith(\"55\") ? digits.slice(2) : digits;\n\n// Se tiver 10 dígitos (fixo), adiciona 9\nif (cleaned.length === 10) {\n  cleaned = cleaned.slice(0, 2) + \"9\" + cleaned.slice(2);\n}\n\n// Formato bonito\nconst ddd = cleaned.slice(0, 2);\nconst first = cleaned.slice(2, 7);\nconst last = cleaned.slice(7, 11);\nconst formatted = `+55 (${ddd}) ${first}-${last}`;\n\n// Formato E.164 obrigatório no HighLevel\nconst e164 = `+55${cleaned}`;\n\n// Retorna os formatos\nreturn {\n  phoneE164: e164\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -656
      ],
      "id": "59a4ce3d-aa4a-4140-bd56-999eb41abb71",
      "name": "Formatar Telefone"
    },
    {
      "parameters": {
        "content": "### AXEN\n",
        "height": 592,
        "width": 1408,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        -1024
      ],
      "id": "43639828-6f66-4eb8-b0cf-000ac2305d8f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/search/duplicate",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $json.locationID }}"
            },
            {
              "name": "number",
              "value": "={{ $('Formatar Telefone').item.json.phoneE164 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        -656
      ],
      "id": "93f437e3-e2c9-4f8f-8ff7-d97129144cc2",
      "name": "Puxar Contato",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fyhyfmYBG8WCJJwY",
          "mode": "list",
          "cachedResultName": "Subaccounts Axen",
          "cachedResultUrl": "/projects/0FeraNGa3ex9VZAK/datatables/fyhyfmYBG8WCJJwY"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "instanciaID",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2640,
        -656
      ],
      "id": "e2501a48-0be6-4ca3-800d-346df02e4f51",
      "name": "Dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/conversations/messages/inbound",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "SMS"
            },
            {
              "name": "message",
              "value": "={{ $('Loop Over Items').item.json.resposta }}"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contact.id }}"
            },
            {
              "name": "conversationProviderId ",
              "value": "6911f2a51d880ff8c5f98ea9"
            },
            {
              "name": "direction",
              "value": "=outbound"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        -656
      ],
      "id": "e172485f-dc51-4425-abd7-f77773ab6afb",
      "name": "Armazenar Mensagem",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Espera receber algo como: $json.base64, $json.fileName, $json.mimeType, $json.contactId (ou conversationId)\nconst base64Raw = $('Extract from File').first().json.data || '';\nconst base64 = base64Raw.replace(/^data:.*;base64,/, ''); // remove prefixo data:...\nconst fileName = $json.fileName || 'arquivo.mp3';\nconst mimeType = $json.mimeType || 'application/mp3';\n\nreturn [\n  {\n    json: {\n      contactId: $json.contactId,\n      conversationId: $json.conversationId, // opcional\n      message: $json.message,               // se quiser já carregar aqui\n    },\n    binary: {\n      fileAttachment: {\n        data: base64,       // n8n aceita base64 aqui\n        fileName,\n        mimeType,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -928
      ],
      "id": "da843376-e639-4ac9-bfc5-45e542701b3e",
      "name": "Converter Binario"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/conversations/messages/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileAttachment",
              "inputDataFieldName": "fileAttachment"
            },
            {
              "name": "contactId",
              "value": "={{ $('Puxar Contato1').item.json.contact.id }}"
            },
            {
              "name": "type ",
              "value": "SMS"
            },
            {
              "name": "direction",
              "value": "inbound"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        -928
      ],
      "id": "32ab4c10-ec4d-4514-bc62-b7d401879882",
      "name": "Criar URL",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone da entrada e garante que é string\nconst phone = String($('When Executed by Another Workflow').first().json.numero || \"\");\n\n// Remove tudo que não for número\nlet digits = phone.replace(/\\D/g, \"\");\n\n// Remove o 55 inicial\nlet cleaned = digits.startsWith(\"55\") ? digits.slice(2) : digits;\n\n// Se tiver 10 dígitos (fixo), adiciona 9\nif (cleaned.length === 10) {\n  cleaned = cleaned.slice(0, 2) + \"9\" + cleaned.slice(2);\n}\n\n// Formato bonito\nconst ddd = cleaned.slice(0, 2);\nconst first = cleaned.slice(2, 7);\nconst last = cleaned.slice(7, 11);\nconst formatted = `+55 (${ddd}) ${first}-${last}`;\n\n// Formato E.164 obrigatório no HighLevel\nconst e164 = `+55${cleaned}`;\n\n// Retorna os formatos\nreturn {\n  phoneE164: e164\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -928
      ],
      "id": "f1b78171-0d75-48d8-b510-ffe5444ba84f",
      "name": "Formatar Telefone1"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/search/duplicate",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $json.locationID }}"
            },
            {
              "name": "number",
              "value": "={{ $('Formatar Telefone1').item.json.phoneE164 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        -928
      ],
      "id": "0595745b-a631-4b56-a05d-881c9d1bc841",
      "name": "Puxar Contato1",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fyhyfmYBG8WCJJwY",
          "mode": "list",
          "cachedResultName": "Subaccounts Axen",
          "cachedResultUrl": "/projects/0FeraNGa3ex9VZAK/datatables/fyhyfmYBG8WCJJwY"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "instanciaID",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2544,
        -928
      ],
      "id": "78cda5b6-5f26-4997-920b-58d35d857fc9",
      "name": "Dados1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/conversations/messages/inbound",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "SMS"
            },
            {
              "name": "contactId",
              "value": "={{ $('Puxar Contato1').item.json.contact.id }}"
            },
            {
              "name": "attachments",
              "value": "={{ [$json.uploadedFiles['arquivo.mp3'] ]}}"
            },
            {
              "name": "direction",
              "value": "=outbound"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        -928
      ],
      "id": "475f023b-21d4-420d-847e-fd7cd8bacfc7",
      "name": "Armazenar Arquivo Axen",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/opportunities/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.contact.phone }}"
            },
            {
              "name": "location_id",
              "value": "={{ $('Criar Histórico').item.json.detalhes.locationID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3008,
        -1216
      ],
      "id": "1b9f4302-1bdb-4e0b-a5b9-bf6374814850",
      "name": "Puxar Oportunidade - Axen",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $json.opportunities[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"4o8jtNzsqXxm7WBRHPl7\",\n      \"key\": \"my_custom_field\",\n      \"field_value\": \"{{ $('Criar Histórico').item.json.localidade }}\"\n    },\n    {\n      \"id\": \"9QBAZkKmRO9EDVIPA4g1\",\n      \"key\": \"my_custom_field\",\n      \"field_value\": \"{{ $('armazenar dados1').item.json.classificacaoLead }}\"\n    },\n    {\n      \"id\": \"BtVuYQ2nOph70OzwmYgE\",\n      \"key\": \"my_custom_field\",\n      \"field_value\": \"{{ $('armazenar dados1').item.json.justificativaClassificacao }}\"\n    },\n    {\n      \"id\": \"GQbrMJl3W46XoLUHyR6q\",\n      \"key\": \"my_custom_field\",\n      \"field_value\": \"{{ $('Criar Histórico').item.json.tipoImovel }}\"\n    },\n    {\n      \"id\": \"hEWyjvvyUNCNEtI0t5GW\",\n      \"key\": \"my_custom_field\",\n      \"field_value\": \"{{ $('Criar Histórico').item.json.faixaInvestimento }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        -1216
      ],
      "id": "cddd5f68-a48c-4e04-92cc-07143fbcc1be",
      "name": "Preencher Campo Personalizado - Axen",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone da entrada e garante que é string\nconst phone = String($('When Executed by Another Workflow').first().json.numero || \"\");\n\n// Remove tudo que não for número\nlet digits = phone.replace(/\\D/g, \"\");\n\n// Remove o 55 inicial\nlet cleaned = digits.startsWith(\"55\") ? digits.slice(2) : digits;\n\n// Se tiver 10 dígitos (fixo), adiciona 9\nif (cleaned.length === 10) {\n  cleaned = cleaned.slice(0, 2) + \"9\" + cleaned.slice(2);\n}\n\n// Formato bonito\nconst ddd = cleaned.slice(0, 2);\nconst first = cleaned.slice(2, 7);\nconst last = cleaned.slice(7, 11);\nconst formatted = `+55 (${ddd}) ${first}-${last}`;\n\n// Formato E.164 obrigatório no HighLevel\nconst e164 = `+55${cleaned}`;\n\n// Retorna os formatos\nreturn {\n  phoneE164: e164\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -1216
      ],
      "id": "e6974520-af3a-43c2-95cd-6429dce05b2f",
      "name": "Formatar Telefone2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60240765-b334-4a3e-95af-6e1efdc90b86",
              "leftValue": "={{ $('puxar contato1').item.json.nome }}",
              "rightValue": "PJ",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "60ae90e8-23b0-42ea-a2e8-0e834a30ae98",
              "leftValue": "={{ $('puxar contato1').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d7a530f3-d07a-4326-9a20-139b4c477e5b",
              "leftValue": "={{ $('puxar contato1').item.json.localidade }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f2671a78-3a25-4b66-90a0-d93769907e2b",
              "leftValue": "={{ $('puxar contato1').item.json.tipoImovel }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ac0034e3-9736-4205-8113-4397177913f9",
              "leftValue": "={{ $('puxar contato1').item.json.faixaInvestimento }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2032,
        -1216
      ],
      "id": "9683dfa3-aacc-4169-87cd-e3de9d0fc1e3",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/search/duplicate",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $('Criar Histórico').item.json.detalhes.locationID }}"
            },
            {
              "name": "number",
              "value": "={{ $('Criar Histórico').item.json.phoneE164 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -1216
      ],
      "id": "9e89166b-c5e9-454b-ba91-42fc94bb5756",
      "name": "Puxar Contato2",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fyhyfmYBG8WCJJwY",
          "mode": "list",
          "cachedResultName": "Subaccounts Axen",
          "cachedResultUrl": "/projects/0FeraNGa3ex9VZAK/datatables/fyhyfmYBG8WCJJwY"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "instanciaID",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id_instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2368,
        -1216
      ],
      "id": "b785f969-8e63-4dba-8e0b-286f99862b1d",
      "name": "Dados2"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Criar Histórico').item.json.email }}"
            },
            {
              "name": "name",
              "value": "={{ $('Criar Histórico').item.json.nome }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        -1216
      ],
      "id": "ece91a92-11d6-4a4b-aa1c-ee116015da59",
      "name": "Atualizar Campo Contato - Axen",
      "credentials": {
        "oAuth2Api": {
          "id": "AXUFNJH9jgUttrZe",
          "name": "Axen WP - MapInvest"
        }
      }
    },
    {
      "parameters": {
        "content": "**ENVIA MENSAGEM**",
        "height": 224,
        "width": 1884,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        -1264
      ],
      "id": "609cad49-57f8-41b7-90d0-1d66b8f81cfb",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2336,
        -1520
      ],
      "id": "ac359fa8-1835-4e04-9fff-299bdf3067da",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "q760f9yGRqNJPZYr",
          "name": "Testes Viver de IA"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\": \"Até mais!\",\n\t\"classificacao\": \"Frio\",\n    \"justificativa\": \"Encerrou a conversa\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2592,
        -1520
      ],
      "id": "2a2e4332-9c49-44cd-bc2a-8d6c93a08110",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.history }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## PERSONA\n\n### IDENTIDADE:\n- Você é o Analista Estratégico de Back-office da Benedo Imobiliaria. Sua função é processar históricos de conversas e gerar a classificação do Lead.\n\n### PERSONALIDADE:\n- Analítico, perspicaz, extremamente organizado e focado em estratégia de fechamento (sales intelligence).\n\n_______________________________________\n\n\n## CLASSIFICAÇÃO DO LEAD (OBRIGATÓRIA)\n\n### REGRA PRINCIPAL (SEMPRE PELO HISTÓRICO)\n- A `classificacao` deve ser definida com base no **histórico completo** da conversa (todas as mensagens disponíveis no Postgres Chat Memory) **+** dados já coletados/salvos no lead (se existirem).\n- **NUNCA** classifique somente pela última mensagem.\n- Se o lead já atingiu um nível mais alto em algum momento do histórico, a classificação **não pode regredir** por causa de respostas curtas como “ok”, “certo”, “obrigado”, “fechado”, etc.\n\n### ANTI-REGRESSÃO (REGRA DE OURO)\n- A classificação deve refletir sempre o **melhor nível atingido até agora** no histórico.\n- Se a mensagem atual não adiciona informação nova, **mantenha** a classificação anterior.\n\n### CRITÉRIOS OBJETIVOS (USE ESTES GATILHOS)\n\n#### `🔥 quente` (alta intenção / pronto para corretor)\nClassifique como **🔥 quente** se no histórico houver **qualquer** um dos cenários abaixo:\n- **(Objetivo + Região/Bairro + Faixa de investimento)** definidos; **OU**\n- Pedido direto de **visita** ou **valores** (“quero visitar”, “quanto custa”, “me passa as opções”, etc.); **OU**\n- **Urgência clara** (prazo “imediato” / “até 3 meses” / “o quanto antes”); **OU**\n- **Forma de pagamento já definida** (à vista/financiamento/FGTS/permuta) + intenção clara de compra/investimento.\n\n> Interpretação prática: se já dá para o corretor agir sem ficar “caçando” contexto, é **quente**.\n\n#### `☁️ morno` (boa intenção, mas falta peça-chave)\nClassifique como **☁️ morno** se no histórico houver:\n- Pelo menos **2 critérios relevantes** definidos entre:\n  - objetivo (morar/investir)\n  - região/bairro\n  - tipo de imóvel\n  - faixa de investimento\n  - prazo/urgência\n  - forma de pagamento\n- E o lead demonstra intenção real (não é só curiosidade), **mas ainda falta** alguma peça decisiva (ex.: sem faixa, sem região, sem prazo).\n\n#### `❄️ frio` (conversa vaga / sem sinais de avanço)\nClassifique como **❄️ frio** se no histórico houver:\n- Conversa genérica, sem critérios mínimos;\n- Sem urgência, sem pedido de visita/valores;\n- Lead não responde perguntas-chave ou não demonstra intenção clara.\n\n### JUSTIFICATIVA (OBRIGATÓRIA E OBJETIVA)\n- `justificativa` deve citar **sinais do histórico**, por exemplo:\n  - “informou Balneário Camboriú e quer frente mar, mas não passou faixa”\n  - “pediu visita e tem prazo imediato”\n  - “definiu objetivo investir + região + faixa”\n- Evite justificativa genérica (“com base no histórico…” sem citar evidências).\n\n### FALLBACK (SE HISTÓRICO NÃO ESTIVER DISPONÍVEL)\n- Se a memória/histórico estiver vazio ou indisponível, diga explicitamente na justificativa:\n  - “Sem acesso ao histórico completo; classifiquei apenas pela mensagem atual.”\n\n---\n\n## FORMATO DE SAÍDA OBRIGATÓRIO (SEM EXCEÇÃO)\n\nRetorne **sempre** UM único objeto, conforme abaixo:\n\n{\n  output: \"…\",\n  classificacao: \"❄️ frio\" | \"☁️ morno\" | \"🔥 quente\",\n  justificativa: \"…\"\n}\n\n### EXEMPLOS RÁPIDOS\n\n- Lead disse: “Quero investir em Balneário Camboriú, frente mar, até 2,5M, à vista.”  \n  → **🔥 quente** (objetivo + região + faixa + pagamento)\n\n- Lead disse: “Quero um apê em BC, frente mar.”  \n  → **☁️ morno** (região + preferência, falta faixa/prazo/pagamento)\n\n- Lead disse: “Oi, tem imóvel?”  \n  → **❄️ frio** (sem critérios)\n\n## ANTI-DUPLICAÇÃO (REGRA ABSOLUTA)\n\n- Você DEVE retornar **EXATAMENTE 1 (um) único objeto JSON** no final.\n- É **PROIBIDO** retornar mais de UM objeto JSON, mesmo que existam cenários alternativos.\n- Se você começar a escrever um segundo ou terceiro JSON por qualquer motivo, **apague mentalmente** e retorne **apenas o PRIMEIRO e ÚNICO JSON**.\n"
        }
      },
      "id": "ae33aaed-9d1a-41d2-a80a-37ea938f1e68",
      "name": "Qualificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2432,
        -1728
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "chat_histories",
          "mode": "list",
          "cachedResultName": "chat_histories"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2064,
        -1728
      ],
      "id": "85feb403-4a05-4505-9069-9a5a6ec217bd",
      "name": "puxar historico",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript) - Run Once for All Items\n// Junta o histórico inteiro em uma única saída (texto) em ordem\n// + repassa variáveis dos nós anteriores (Formatar Telefone / If / etc)\n\nconst items = $input.all();\n\n// 1) Ordena pelo id (garante sequência correta)\nitems.sort((a, b) => (a.json?.id ?? 0) - (b.json?.id ?? 0));\n\n// 2) Monta o texto do histórico\nconst history = items\n  .map((it) => {\n    const type = (it.json?.message?.type ?? 'unknown').toString().toUpperCase();\n    const content = (it.json?.message?.content ?? '').toString().trim();\n    if (!content) return null;\n\n    const clean = content\n      .replace(/\\r/g, '')\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n\n    return `${type}: ${clean}`;\n  })\n  .filter(Boolean)\n  .join('\\n\\n');\n\n// 3) Puxa variáveis dos nós anteriores (ajuste os nomes se estiverem diferentes)\nconst phoneE164 = $('Formatar Telefone2').first()?.json?.phoneE164 ?? null;\n\n// Se esse node realmente se chama \"If\" e é o que contém os campos do lead:\nconst lead = $('puxar contato1').first()?.json ?? {};\nconst detalhes = $('Dados2').first()?.json ?? {};\n\n// (opcional) também dá pra puxar de outros nós, ex:\n// const contato = $('puxar contato').first()?.json ?? {};\n\n// 4) Retorna 1 item só, com histórico + variáveis repassadas\nreturn [\n  {\n    json: {\n      // histórico agregado\n      history,\n\n      // variáveis do \"Formatar Telefone\"\n      phoneE164,\n\n      // variáveis do node \"If\" (repasse direto)\n      ...lead,detalhes,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        -1728
      ],
      "id": "c9220552-8a99-47b2-a416-cb46e8c39ec2",
      "name": "Criar Histórico"
    },
    {
      "parameters": {
        "content": "**ENVIA MENSAGEM**",
        "height": 592,
        "width": 2156,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -1024
      ],
      "id": "1c14bafa-cf96-4645-be51-93cf1239c0a0",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        -624
      ],
      "id": "55f9e68e-aee6-44bc-987d-eba996679473",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "QnXTt7LQ9uFiudRH",
          "name": "MapInvest"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 944,
        "width": 3644,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -1312
      ],
      "id": "53d11cea-96ad-4621-83c5-cc37b253c8be",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "text": "={{ $json.mensagem }}",
        "attributes": {
          "attributes": [
            {
              "name": "email",
              "description": "Extraia o endereço de e-mail completo do cliente"
            },
            {
              "name": "nome",
              "description": "Extraia o nome do cliente"
            },
            {
              "name": "localidade",
              "description": "Extraia a localização  (cidade ou estado) do cliente"
            },
            {
              "name": "perfil",
              "description": "Extraia o perfil do cliente, caso ele seja pessoa física  ou pessoa jurídica, a sáida da resposta tem que ser ' PF' ou ' PJ' "
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Você é um assistente extrator. Extraia apenas as informações solicitadas com base na mensagem recebida.\n\nSe não souber, não invente dados. Traga apenas o dado real mencionado pelo lead."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        448,
        -800
      ],
      "id": "116d67c8-e231-475b-88c0-74ee1781b731",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "text": "={{$json.respostaTexto}}",
        "voice_id": {
          "__rl": true,
          "value": "7u8qsX4HQsSHJ0f8xsQZ",
          "mode": "list",
          "cachedResultName": "João Pedro"
        },
        "additionalFields": {
          "model_id": "eleven_multilingual_v2",
          "use_speaker_boost": true,
          "seed": 0.8
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        1840,
        -928
      ],
      "id": "147b77ef-9e51-4a2b-ad92-f8972cfaf481",
      "name": "Generate speech from text",
      "credentials": {
        "elevenLabsApi": {
          "id": "wrb05x6WFQ5hV91W",
          "name": "ElevenLabs Lesco"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "resposta": [
            "Olá!",
            "Sou o Lucas, da MapInvest.",
            "Em que posso te ajudar hoje?"
          ],
          "resposta inteira": "Olá! Sou o Lucas, da MapInvest. Em que posso te ajudar hoje?",
          "numero": "554797838884",
          "mensagem": "Boa tarde.\nTudo bem?.",
          "Tipo": "text",
          "date_time": "2026-03-04 18:34:51.734 -03:00",
          "nome_completo": "Luiz Antonio",
          "id_instance": "3EE4E9636EA8521667B4EAA28CA4D533",
          "token": "B8CDAD97BE9D4BC8812EEA64",
          "id_contato": "a35fbdeb-6160-447e-87f7-3332a6aa073e",
          "classificacao_lead": null,
          "justificativa_classificacao": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "enviar audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "armazenar dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "formatar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatar mensagem": {
      "main": [
        [
          {
            "node": "Generate speech from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar contato1": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar mensagem": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar audio1": {
      "main": [
        [
          {
            "node": "Formatar Telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Formatar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Telefone": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar Contato": {
      "main": [
        [
          {
            "node": "Armazenar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Puxar Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar Mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Binario": {
      "main": [
        [
          {
            "node": "Criar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar URL": {
      "main": [
        [
          {
            "node": "Armazenar Arquivo Axen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Telefone1": {
      "main": [
        [
          {
            "node": "Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar Contato1": {
      "main": [
        [
          {
            "node": "Converter Binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados1": {
      "main": [
        [
          {
            "node": "Puxar Contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar Oportunidade - Axen": {
      "main": [
        [
          {
            "node": "Preencher Campo Personalizado - Axen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Telefone2": {
      "main": [
        [
          {
            "node": "Dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Formatar Telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar Contato2": {
      "main": [
        [
          {
            "node": "Atualizar Campo Contato - Axen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados2": {
      "main": [
        [
          {
            "node": "puxar historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Campo Contato - Axen": {
      "main": [
        [
          {
            "node": "Puxar Oportunidade - Axen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Qualificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Qualificador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Qualificador": {
      "main": [
        [
          {
            "node": "Puxar Contato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar historico": {
      "main": [
        [
          {
            "node": "Criar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Histórico": {
      "main": [
        [
          {
            "node": "Qualificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "puxar contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate speech from text": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "35df0658-ff89-4d2a-8916-9f22f578a775",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "7Dgk0ZsOF14SvEST",
  "tags": []
}