template_agenteia/Recebimento de Mensagens MapInvest.json
{
  "name": "Recebimento de Mensagens MapInvest",
  "nodes": [
    {
      "parameters": {
        "content": "**RECEBE MENSAGEM**\n",
        "height": 308,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1696,
        -1584
      ],
      "id": "2ccaa0d9-5bbc-4c31-b233-b1cb8c0fba6b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Limitador de conversa",
        "height": 256,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -1856
      ],
      "typeVersion": 1,
      "id": "3a1d2e6f-d962-40e6-a37d-83951002e29d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8504acfe-32a4-4266-934b-c0d6ede4ce03",
              "leftValue": "={{ $json.msgIa }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -1488
      ],
      "id": "d739c446-264d-4778-9f8a-c2cef7e088fe",
      "name": "passou o limite de mensagens?"
    },
    {
      "parameters": {
        "content": "**PROCESSA MENSAGEM**\n",
        "height": 468,
        "width": 948
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -2064
      ],
      "id": "02e1365b-433e-4ae7-ad6a-37ec2e5689b2",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "**VERIFICA CONTATO**\n",
        "height": 308,
        "width": 1012,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        -1584
      ],
      "id": "c54fe7c1-ccff-41fb-84ed-6bd95f4a3937",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**TRANSCREVE MÍDIAS**\n",
        "height": 580,
        "width": 436,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -1584
      ],
      "id": "015853cb-49b4-46ce-9c78-ea9681bbe21d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**ENVIA PARA O WORKFLOW**\n",
        "height": 276,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        -1584
      ],
      "id": "accb7376-7ee4-46a1-938b-3c0492031e40",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "**CRIAR CONTATO**\n",
        "height": 260,
        "width": 484,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -1264
      ],
      "id": "8ae59e69-d434-43c8-a340-7e2aa2613c5b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 1188,
        "width": 2548,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1712,
        -2096
      ],
      "id": "4921af25-9953-457d-9e79-814527581881",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1632,
        -1488
      ],
      "id": "1e2de26b-751f-4c40-8b13-9ad6e7bf02d8",
      "name": "Mensagem Recebida"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "683677d6-5768-4bf9-bf3e-72d941a3592a",
              "name": "mensagem",
              "value": "={{ $json.webhook.body.text.message }}",
              "type": "string"
            },
            {
              "id": "24af0476-f146-45fa-a4c4-c63bd545ce50",
              "name": "arquivo_url",
              "value": "={{ $json.webhook.body.document.documentUrl }}{{ $json.webhook.body.audio.audioUrl }}{{ $json.webhook.body.video.videoUrl }}{{ $json.webhook.body.image.imageUrl }}{{ $json.webhook.arquivo_url }}",
              "type": "string"
            },
            {
              "id": "abb8d110-0ddb-4bf2-bb9e-46165cd0f8c4",
              "name": "numero",
              "value": "={{ $json.webhook.body.phone }}",
              "type": "string"
            },
            {
              "id": "58a76802-16c7-467e-8c3f-6d671b668fa9",
              "name": "nome",
              "value": "={{ $json.webhook.body.senderName }}",
              "type": "string"
            },
            {
              "id": "dd8b4173-4ad5-454b-ad10-c9a25e2a01a5",
              "name": "status",
              "value": "={{ $json.webhook.body.status }}",
              "type": "string"
            },
            {
              "id": "e3e10693-3db8-4c84-b4f4-dc67ad9dcd69",
              "name": "photo",
              "value": "={{ $json.webhook.body.photo }}",
              "type": "string"
            },
            {
              "id": "bdcfa43f-7148-49f7-8331-7f0ad9b2acd0",
              "name": "instancia_id",
              "value": "={{ $json.webhook.body.instanceId }}",
              "type": "string"
            },
            {
              "id": "58e26f84-af0f-4130-acb7-61572acc9c85",
              "name": "data",
              "value": "={{ DateTime.now().setZone('America/Sao_Paulo').toSQL() }}",
              "type": "string"
            },
            {
              "id": "d961fc42-c15c-4fe9-9574-a29f1bfd9a41",
              "name": "message_id",
              "value": "={{ $json.webhook.body.messageId }}",
              "type": "string"
            },
            {
              "id": "883a3d5c-bf1d-46fd-89ec-554fa47d5b06",
              "name": "tipo",
              "value": "={{((src=>{for(const k of Object.keys(src)){const v=src[k];if(v&&typeof v==='object'&&!Array.isArray(v)&&!k.startsWith('_'))return k;}return 'desconhecido';})((($json.webhook.body&&typeof $json.webhook.body==='object')?$json.webhook.body:$json)))}}",
              "type": "string"
            },
            {
              "id": "567f1854-e930-4290-b520-310988501c7a",
              "name": "filename",
              "value": "={{ $json.webhook.body.document.fileName }}",
              "type": "string"
            },
            {
              "id": "03edbdf4-5417-4797-a9ce-4a91a9bcc33c",
              "name": "legenda",
              "value": "={{ $json.webhook.body.image.caption }}",
              "type": "string"
            },
            {
              "id": "4293e014-8ad3-434b-b4f6-947e7379f8c3",
              "name": "token",
              "value": "={{ $json.webhook.headers['z-api-token'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        -1488
      ],
      "id": "8fb3ba4e-3e61-4a72-809d-56e150f2435f",
      "name": "var"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31ab25d2-ca20-4b38-9086-ca2f5f379b4c",
              "leftValue": "={{ $('Mensagem Recebida').item.json.webhook.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a539da00-f668-4263-a893-53544c6e982a",
              "leftValue": "={{ $('Mensagem Recebida').item.json.webhook.body.type }}",
              "rightValue": "DeliveryCallback",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f8b668cf-79e4-47f0-a007-4e0ad7c0b6ed",
              "leftValue": "={{ $('Mensagem Recebida').item.json.webhook.body.notification }}",
              "rightValue": "CHAT_LABEL_ASSOCIATION",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "023718d7-2ac2-4cf3-9be6-d5f870115c69",
              "leftValue": "={{ $('var').item.json.tipo }}",
              "rightValue": "reaction",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ac600996-11fc-42a0-afea-bb92c9bd29b9",
              "leftValue": "={{ $('Mensagem Recebida').item.json.webhook.body.notification }}",
              "rightValue": "CALL_MISSED_VOICE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "25dad5e9-2b71-4193-acf7-a4cfe6e24606",
              "leftValue": "={{ $('Mensagem Recebida').item.json.webhook.body.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        -1488
      ],
      "id": "c7935e26-745d-45b4-ad50-14047faa210f",
      "name": "destino"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $json.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1024,
        -1488
      ],
      "id": "f57ef68f-617c-414f-9b74-2fff7954a28c",
      "name": "verificar contato",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e16b944d-fe24-449f-8c1e-1dddc4123db7",
              "leftValue": "={{ $json.numero }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        -1488
      ],
      "id": "5205e2c4-f2a6-415c-8f66-b3884f6aa6da",
      "name": "existe?"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "key"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -656,
        -1200
      ],
      "id": "7add5cb5-e27c-48e6-98e3-75c8ab3f17e9",
      "name": "key"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.key }}",
            "numero": "={{ $('var').item.json.numero }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "localidade",
              "displayName": "localidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "anos_operacao",
              "displayName": "anos_operacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "faturamento",
              "displayName": "faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "perfil",
              "displayName": "perfil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msgIa",
              "displayName": "msgIa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "iaStatus",
              "displayName": "iaStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        -1200
      ],
      "id": "dee2e9af-0338-43c2-acc6-f040d02f066f",
      "name": "criar contato",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $('Mensagem Recebida').item.json.instance_id_zapi }}/token/{{ $('Mensagem Recebida').item.json.token }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F816f10832d1e426db1905665baa26035S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('var').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "=Perfeito — pra te atender mais rápido e com precisão, vou te encaminhar agora para um membro do nosso time. Só um instante."
            },
            {
              "name": "delayTyping",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        -1760
      ],
      "id": "44047d17-54be-48ff-a973-3ed0877cdf7c",
      "name": "enviar mensagem",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47d67e8f-29df-49b4-a55c-a3f768738f40",
                    "leftValue": "={{ $('var').item.json.tipo }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('var').item.json.tipo }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0a8af36-4f80-4c3b-be6f-622440add5fb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d880b178-7f21-450c-b626-663eb844d3c4",
                    "leftValue": "={{ $('var').item.json.tipo }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e96c92bd-605c-425d-93d4-8b3710573dbd",
                    "leftValue": "={{ $('var').item.json.tipo }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        -1520
      ],
      "id": "02c7be1e-d6a2-40ba-8d58-708b725435b4",
      "name": "rotas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06fe37f6-1f19-4e17-976a-7b95ba164dae",
              "name": "messsage_id",
              "value": "={{ $('var').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "bc8e0018-8302-4434-9745-0a0a1c519b9a",
              "name": "content",
              "value": "={{ $('var').item.json.mensagem }}{{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -1984
      ],
      "id": "be032248-d442-47d3-8678-371e50f0f1c9",
      "name": "mapear campos"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.messsage_id }}",
        "messageData": "={{ $json.content }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        -1984
      ],
      "id": "bbb8f938-6f06-412f-9b30-568eee66267d",
      "name": "armazenar mensagens",
      "credentials": {
        "redis": {
          "id": "IIA7GgOWNuPvOTca",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.messsage_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        304,
        -1984
      ],
      "id": "17d2a578-84ea-4a5f-b4b6-dfda330df1df",
      "name": "puxar mensagens",
      "credentials": {
        "redis": {
          "id": "IIA7GgOWNuPvOTca",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe4f2d7d-9500-4f0b-9cc7-aeb88108051f",
              "leftValue": "={{ $json.propertyName.length}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -1984
      ],
      "id": "645ed6e2-f7bb-408d-9bd6-e071ca13fd6b",
      "name": "verifica se é a primeira mensagem"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -128,
        -1792
      ],
      "id": "225003df-3cd7-47d0-8dea-fce63e3804ae",
      "name": "aguarda o envio de outras mensagens",
      "webhookId": "03d0e146-25c2-4005-aec7-33846ac493a4"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('armazenar mensagens').item.json.messsage_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        -1792
      ],
      "id": "f6b4b41d-bad5-4b7d-ada8-000e847caf21",
      "name": "puxar novamentes as mensagens",
      "credentials": {
        "redis": {
          "id": "IIA7GgOWNuPvOTca",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bf75914-e6d3-46fc-a680-f448447ad372",
              "name": "mensagem",
              "value": "={{ $json.propertyName.reverse().join('.\\n') + '.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -1792
      ],
      "id": "14aed0c5-1848-4ce8-b1ca-9729bfa82fba",
      "name": "formata mensagens"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('armazenar mensagens').item.json.messsage_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        -1792
      ],
      "id": "55d75729-6e2b-45bf-a358-782855fa570e",
      "name": "deleta mensagens",
      "credentials": {
        "redis": {
          "id": "IIA7GgOWNuPvOTca",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d76982c-f283-4eec-8786-61a210d96cb1",
              "name": "mensagem",
              "value": "={{ $json.mensagem ?? $(\"Mensagem Recebida\").item.json.body?.data?.message?.conversation ?? $json.text ?? \"Mensagem não encontrada\" }}",
              "type": "string"
            },
            {
              "id": "a7d15121-0af9-45d9-b4fb-833033033dbe",
              "name": "numero",
              "value": "={{ $('var').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "4499898d-7f5f-4b54-9911-956e4bca0b13",
              "name": "Tipo",
              "value": "={{ $('var').item.json.tipo }}",
              "type": "string"
            },
            {
              "id": "f350af1c-3b31-4c3b-92b7-c321be236ec1",
              "name": "BotName",
              "value": "=Betina",
              "type": "string"
            },
            {
              "id": "45337e90-9b3c-4932-940a-5fc7c407d30a",
              "name": "date_time",
              "value": "={{ $('var').item.json.data }}",
              "type": "string"
            },
            {
              "id": "fabb0759-be19-4697-bbc9-5cce0dd444ad",
              "name": "nome_completo",
              "value": "={{ $('var').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "e1ef69db-8aa9-4a46-830d-4867a32454ae",
              "name": "instance_id",
              "value": "={{ $('var').item.json.instancia_id }}",
              "type": "string"
            },
            {
              "id": "5dfaf99c-4850-49fc-86c3-be1b580d744c",
              "name": "token",
              "value": "={{ $('var').item.json.token }}",
              "type": "string"
            },
            {
              "id": "da99d1ef-cddd-4402-afb8-9dac4773e56c",
              "name": "id_contato",
              "value": "={{ $('rotas').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -1504
      ],
      "id": "f42cea6e-77f3-4ec8-a6d0-118334e88666",
      "name": "recebe mensagem"
    },
    {
      "parameters": {
        "url": "={{ $('var').item.json.arquivo_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -1504
      ],
      "id": "ad69045f-89ea-4779-925a-697030c5a103",
      "name": "baixar midia"
    },
    {
      "parameters": {
        "url": "={{ $('var').item.json.arquivo_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -1312
      ],
      "id": "254b078f-cbcc-4680-ac17-991d08889e63",
      "name": "baixar midia1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        16,
        -1504
      ],
      "id": "448abb73-2d3d-43df-a611-680d122a1782",
      "name": "transcreve audio",
      "credentials": {
        "openAiApi": {
          "id": "sWpwOMeR26VYErlT",
          "name": "MapInvest"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva a imagem que o cliente mandou de forma clara e objetiva, nada além disso, pois sua descrição será salva para que outra IA analise o contexto da conversa e oque o cliente mandou na imagem.\n\nA resposta tem que ter uma saída que comece sempre com : \"Esta mensagem contem uma imagem, a imagem foi analisada e essa é a descrição gerada : \".\n\nSeja o mais objetivo possível, sem muitos detalhes.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        16,
        -1312
      ],
      "id": "eec24a1e-9c7b-465d-82b3-7bcab2f9aeae",
      "name": "descreve imagem",
      "credentials": {
        "openAiApi": {
          "id": "sWpwOMeR26VYErlT",
          "name": "MapInvest"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rUne8TSNjW4zXNyo",
          "mode": "list",
          "cachedResultUrl": "/workflow/rUne8TSNjW4zXNyo",
          "cachedResultName": "Consciência MapInvest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        -1504
      ],
      "id": "5e617925-c4fc-454f-95cf-c0a551bbe3d7",
      "name": "Call 'Consciência MapInvest'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        -1120
      ],
      "id": "8c6b94b5-b5c1-45b4-8a0e-82ae2e10b46c",
      "name": " LLM",
      "credentials": {
        "openRouterApi": {
          "id": "QnXTt7LQ9uFiudRH",
          "name": "MapInvest"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('var').item.json.mensagem }}",
        "options": {
          "systemMessage": "=Descreva a imagem que o cliente mandou de forma clara e objetiva, nada além disso, pois sua descrição será salva para que outra IA analise o contexto da conversa e oque o cliente mandou na imagem.\n\nA resposta tem que ter uma saída que comece sempre com : \"Esta mensagem contem uma imagem, a imagem foi analisada e essa é a descrição gerada : \".\n\nSeja o mais objetivo possível, sem muitos detalhes.",
          "passthroughBinaryImages": true
        }
      },
      "id": "f0a08e9b-9775-4256-bd9d-6fd7417e7e62",
      "name": "Imagem",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        320,
        -1264
      ],
      "retryOnFail": true
    }
  ],
  "pinData": {
    "Mensagem Recebida": [
      {
        "json": {
          "webhook": {
            "headers": {
              "host": "n8n-n8n-start.i9tdn7.easypanel.host",
              "user-agent": "Mozilla/5.0 (iPad; CPU OS 13_2_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) FxiOS/111.0 Mobile/15E148 Safari/605.1.15",
              "content-length": "953",
              "accept-encoding": "gzip",
              "content-type": "application/json; charset=utf-8",
              "origin": "https://api.z-api.io",
              "server": "Z-API",
              "x-forwarded-for": "163.176.240.63",
              "x-forwarded-host": "n8n-n8n-start.i9tdn7.easypanel.host",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "068b3916062d",
              "x-real-ip": "163.176.240.63",
              "z-api-token": "B8CDAD97BE9D4BC8812EEA64"
            },
            "params": {},
            "query": {},
            "body": {
              "isStatusReply": false,
              "chatLid": "198101675561023@lid",
              "connectedPhone": "554797483530",
              "waitingMessage": false,
              "isEdit": false,
              "isGroup": false,
              "isNewsletter": false,
              "instanceId": "3EE4E9636EA8521667B4EAA28CA4D533",
              "messageId": "2A2E0E4A309DA17FF430",
              "phone": "554797838884",
              "fromMe": false,
              "momment": 1772661886000,
              "status": "RECEIVED",
              "chatName": "Luiz Antonio",
              "senderPhoto": null,
              "senderName": "Luiz Antonio",
              "photo": "https://pps.whatsapp.net/v/t61.24694-24/584034828_1286859820144578_943562756606831693_n.jpg?ccb=11-4&oh=01_Q5Aa3wGK91_YcWDzLkwqk8pm4cfaWqfgZ-K6hwoB7gAW0wWUXQ&oe=69B5CDC4&_nc_sid=5e03e0&_nc_cat=109",
              "broadcast": false,
              "participantLid": null,
              "forwarded": false,
              "type": "ReceivedCallback",
              "fromApi": false,
              "audio": {
                "ptt": true,
                "seconds": 14,
                "audioUrl": "https://f004.backblazeb2.com/file/temp-file-download/instances/3EE4E9636EA8521667B4EAA28CA4D533/2A2E0E4A309DA17FF430/Nj-lUmHX0PLXuwF2VUOnQQ==.ogg",
                "mimeType": "audio/ogg; codecs=opus",
                "viewOnce": false
              }
            },
            "webhookUrl": "https://n8n-n8n-start.i9tdn7.easypanel.host/webhook/mapinvest-n8n",
            "executionMode": "production"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "passou o limite de mensagens?": {
      "main": [
        [
          {
            "node": "rotas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Recebida": {
      "main": [
        [
          {
            "node": "var",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "var": {
      "main": [
        [
          {
            "node": "destino",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "destino": {
      "main": [
        [],
        [
          {
            "node": "verificar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar contato": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "passou o limite de mensagens?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "key": {
      "main": [
        [
          {
            "node": "criar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar contato": {
      "main": [
        [
          {
            "node": "rotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rotas": {
      "main": [
        [
          {
            "node": "mapear campos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "baixar midia1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "baixar midia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapear campos": {
      "main": [
        [
          {
            "node": "armazenar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "armazenar mensagens": {
      "main": [
        [
          {
            "node": "puxar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar mensagens": {
      "main": [
        [
          {
            "node": "verifica se é a primeira mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica se é a primeira mensagem": {
      "main": [
        [],
        [
          {
            "node": "aguarda o envio de outras mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguarda o envio de outras mensagens": {
      "main": [
        [
          {
            "node": "puxar novamentes as mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar novamentes as mensagens": {
      "main": [
        [
          {
            "node": "formata mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata mensagens": {
      "main": [
        [
          {
            "node": "deleta mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleta mensagens": {
      "main": [
        [
          {
            "node": "recebe mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recebe mensagem": {
      "main": [
        [
          {
            "node": "Call 'Consciência MapInvest'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixar midia": {
      "main": [
        [
          {
            "node": "transcreve audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixar midia1": {
      "main": [
        [
          {
            "node": "descreve imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreve audio": {
      "main": [
        [
          {
            "node": "recebe mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descreve imagem": {
      "main": [
        [
          {
            "node": "mapear campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Imagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b7790589-94ef-448a-8d9e-8d7692f0ca6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "yNnJFEZr73pTOorw",
  "tags": []
}