template_agenteia/Subconsciente MapInvest.json
{
  "name": "Subconsciente MapInvest",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=mensagem_cliente: {{ $json.mensagem_cliente }}",
        "options": {
          "systemMessage": "=### IDENTIDADE\nVocê é o **Módulo Subconsciente (RAG)**. Responde **apenas com fatos literais** extraídos das fontes internas recuperadas.\nTom **neutro e técnico**. A Consciência fará a síntese humana.\n\n### ENTRADA\n- `mensagem_cliente`: string (consulta em pt-BR)\n\n### PROCESSO\n1) **Recuperar** trechos/documentos relevantes nas fontes internas (produtos, preços, planos, políticas, integrações, SLAs, cases, FAQs).\n2) **Reranquear** e **deduplicar**:\n   - Priorize: material oficial, versão mais recente, maior aderência ao tema.\n   - Remova duplicatas e conflitos; se houver conflito, mantenha o trecho mais recente/mais oficial e registre o conflito em `facts`.\n3) **Extrair fatos literais** (sem extrapolar) em sentenças curtas:\n   - Cada item em `facts` deve ter **≤ 200 caracteres**.\n   - **Sem inferências**, sem recomendações, sem opinião.\n4) **Sinalizar políticas**:\n   - Se a consulta tocar em **preço**, **prazo**, **integração**, **garantia**, **SLA**, marque o respectivo `policy_flag`.\n5) **Sugerir próximo passo**:\n   - 1 frase em `suggested_next_step` com **≤ 140 caracteres**,\n   - Baseada **apenas** no que foi encontrado (ou na ausência do que era necessário).\n6) **Atribuir confiança** `confidence` ∈ [0..1]:\n   - Considere: cobertura (quanto respondeu), concordância entre fontes, atualidade/autoridade das fontes.\n\n### POLÍTICAS CRÍTICAS (ANTIALUCINAÇÃO)\n- **Preço / honorário / diagnóstico / prazo / garantia / SLA / integração**: só retornar se constarem **explicitamente** nas fontes recuperadas.\n  - Se não houver fonte inequívoca:\n    - `facts` pode incluir: \"Preço/condições não encontrados nas fontes recuperadas.\"\n    - `confidence` **≤ 0.40**\n    - `suggested_next_step`: \"Confirmo no material oficial e retorno com o valor exato.\"\n- **Sem promessas** de agenda, proposta, demo, garantia, prazo de retorno.\n- **Sem estilo humano**: sem saudações, sem “eu”, sem emojis.\n- **Sem roadmap/compatibilidade** não citados nas fontes.\n\n### SAÍDA (JSON PURO — sem markdown)\nRegras:\n- Retornar **apenas** JSON válido (sem comentários, sem texto extra).\n- Sempre incluir todas as chaves abaixo, mesmo que vazias.\n- `facts` e `refs` podem ser arrays vazios.\n\n{\n  \"facts\": [\"<sentença factual ≤200c>\", \"...\"],\n  \"confidence\": 0.0,\n  \"refs\": [\"doc://...#secao\", \"faq/...\"],\n  \"policy_flags\": [\"tem_preco\",\"tem_honorario\",\"tem_prazo\",\"tem_integracao\",\"tem_sla\",\"tem_garantia\"],\n  \"suggested_next_step\": \"<≤140c>\",\n  \"slots_missing\": [\"<dados indispensáveis ausentes para responder com precisão>\", \"...\"]\n}\n\n### OBSERVAÇÕES DE CONSISTÊNCIA\n- `policy_flags`: inclua **apenas** os flags acionados pela consulta (subconjunto da lista).\n- `refs`: cite apenas referências realmente usadas para os fatos.\n- `slots_missing`: liste o mínimo necessário para avançar (ex.: plano, unidade, canal, volume, região, produto).\n\n### EXEMPLOS\n\n// Pergunta: \"Quanto custa o plano?\"\n{\n  \"facts\": [\"Preço/condições não encontrados nas fontes recuperadas.\"],\n  \"confidence\": 0.35,\n  \"refs\": [],\n  \"policy_flags\": [\"tem_preco\"],\n  \"suggested_next_step\": \"Confirmo no material oficial e retorno com o valor exato.\",\n  \"slots_missing\": [\"plano\",\"quantidade_usuarios\",\"canais\"]\n}\n\n// Pergunta: \"Integra com HubSpot?\"\n{\n  \"facts\": [\"Integração via API REST com OAuth2.\", \"Suporta sync de contatos e deals.\"],\n  \"confidence\": 0.86,\n  \"refs\": [\"docs/api#oauth2\",\"faq/integracoes/hubspot\"],\n  \"policy_flags\": [\"tem_integracao\"],\n  \"suggested_next_step\": \"Validar escopo da integração (objetos e direção do sync).\",\n  \"slots_missing\": [\"objetos_para_sync\",\"direcao_sync\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        176,
        -16
      ],
      "id": "2ad64a44-d3ef-40fc-ae0c-0d60c09fe7cc",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "content": "## SUBCONSCIENTE\n",
        "height": 716,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -176
      ],
      "id": "5060db81-3d9d-4388-8a83-da76fecc09bc",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensagem_cliente"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        -16
      ],
      "id": "59aef647-8963-4c3a-972b-733aa73a17a0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        384,
        368
      ],
      "id": "e5a87693-1c10-41ac-8654-b05f2e3830bd",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "0vwzFwLuSTcp9Nhy",
          "name": "BenedoImobi"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Esta tool consulta a base vetorial da empresa para recuperar informações factuais sobre produtos, políticas, preços, integrações, processos e documentos internos.  \nUse-a sempre que precisar de dados confirmados ou detalhes técnicos.  \nEla retorna apenas fatos, sem opiniões nem interpretações.",
        "tableName": "mapinvest.informacoes",
        "topK": 10,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        256,
        192
      ],
      "id": "21bf749f-f393-46c4-852c-c1896cecb396",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        192
      ],
      "id": "bf7f3487-b98f-44b2-a86f-36d4c9a8ab5d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "QnXTt7LQ9uFiudRH",
          "name": "MapInvest"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        368
      ],
      "id": "8dbe48c0-e612-4a1d-801b-b4a9aa026de0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ILVxiAHtJFcbfnLV",
          "name": "BenedoImobi"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "mapinvest.informacoes",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        272,
        688
      ],
      "id": "99e76c15-b552-49fc-85e0-2f4620119bad",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        848
      ],
      "id": "fbdd6010-aa29-4518-98af-daadff0b8c86",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ILVxiAHtJFcbfnLV",
          "name": "BenedoImobi"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=1. VISÃO GERAL E FILOSOFIA\n1.1. Slogan e Missão\n\nSlogan: Soluções criativas para desafios complexos.\n\nFilosofia: Utilizar o Direito como catalisador das atividades dos clientes, guiando-os com excelência, estratégia e segurança jurídica rumo ao sucesso de seus negócios.\n\n1.2. Localização e Contato\n\nTelefone: +55 (11) 3721-6357\n\nE-mail: contato@jorgeadvogados.com\n\nEscritórios:\n\nSão Paulo:\nRua Castilho, 392 – Conjunto 142 – Brooklin – São Paulo/SP – CEP 04568-010\n\nBrasília:\nSRTVS Quadra 701, Bloco O – Brasília/DF – CEP 70340-000\n\n2. ÁREAS DE ATUAÇÃO\n2.1. Áreas Jurídicas Principais\n\nDireito Administrativo\n\nDireito Aduaneiro\n\nCompliance e Penal Empresarial\n\nDireito Civil (Contencioso e Consultivo)\n\nContratos\n\nDireito Empresarial e M&A\n\nDireito Tributário\n\nDireito Trabalhista\n\n2.2. Nichos de Especialização\n\n(descrições resumidas, adequadas para uso por IA)\n\nSegurança Privada:\nAtuação especializada em regulação de atividades de segurança privada, licenciamento, compliance regulatório e resolução de conflitos junto a órgãos fiscalizadores.\n\nDigital, Tecnologia e Proteção de Dados | DPO as a Service:\nAssessoria jurídica para empresas nacionais e internacionais de tecnologia, incluindo desenvolvimento de novas soluções, transferência de tecnologia e adequação à LGPD.\n\nDPO as a Service:\nSolução jurídica especializada e acessível para empresas que necessitam cumprir obrigações legais relacionadas à proteção, tratamento e governança de dados pessoais.\n\nCrypto Assets e Exchanges:\nPlanejamento jurídico de projetos envolvendo criptoativos, análise de riscos regulatórios, pareceres sobre viabilidade jurídica e conformidade legal de modelos de negócio.\n\nGaming e Apostas Esportivas:\nConsultoria jurídica completa para apostas esportivas, e-sports e indústria de games, abrangendo aspectos regulatórios, societários, contratuais e tributários.\n\nMeios de Pagamento e Fintechs:\nAssessoria na estruturação e implementação de operações financeiras, com foco em regulação, contratos, direito societário, tributário, compliance e propriedade intelectual.\n\nLegal Operations:\nDesenvolvimento e revisão de políticas internas, manuais e procedimentos jurídicos, além da implementação de sistemas, processos e boas práticas de gestão jurídica.\n\n3. PROFISSIONAIS\n3.1. Sócios e Coordenação\n\nVictor Solla P. S. Jorge – Sócio Fundador\n\nNádia M. de Faria e Cunha – Sócia\n\nCamilla Gutierres de Miranda – Advogada Coordenadora\n\n3.2. Advogados\n\nCamila Novellino\n\nRenata Galan\n\nRafael Tozetto\n\nPriscila Soares\n\nVitor da Costa Pinto Soares\n\nVitor Sarubo\n\nRenato Mendes\n\nKarina Frischlander\n\n3.3. Equipe Administrativa e Apoio\n\nThiago da Silva Guedes – Gerente Financeiro\n\nLidiane da Silva Almeida – Analista de Projetos\n\nRuan Marcelo Rodrigues Duarte – Assistente Jurídico\n\nGabriel Seraphim – Assistente Jurídico\n\nThais Pereira dos Santos – Auxiliar Administrativo\n\n4. DEPOIMENTOS (INFORMAÇÕES DE SUPORTE)\n\nVictor Henrique Oliveira:\nDestaca o alto nível de profissionalismo, qualidade dos serviços, excelente custo-benefício e a atuação diferenciada na área tributária.\n\nBruna Cunha:\nRessalta o profissionalismo da equipe e a prestação de serviços jurídicos de ótima qualidade.\n\nMaria Aparecida Martins:\nEnfatiza a competência dos profissionais, a excelente recepção e o ambiente agradável do escritório.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        848
      ],
      "id": "c7062a75-2324-4a04-bf4b-0d4c2b420880",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## ATUALIZAR BANCO DE INFORMAÇÕES",
        "height": 508,
        "width": 820,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        544
      ],
      "id": "7f8c83f1-20e2-42a6-9644-5dc28fca3040",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KFGYZmm467OsvRld",
          "mode": "list",
          "cachedResultName": "Agentes IA",
          "cachedResultUrl": "/projects/0FeraNGa3ex9VZAK/datatables/KFGYZmm467OsvRld"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        64,
        688
      ],
      "id": "ba87f77d-044e-432a-9011-6cab19d92c21",
      "name": "informacoes",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        688
      ],
      "id": "fc0170f6-fbc5-4c15-86de-bc78a6c2dd33",
      "name": "play",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 1292,
        "width": 1396,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -208
      ],
      "id": "1ea75063-b14e-4bd3-8fc7-2652f9afeb68",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "formTitle": "Inserir Conhecimento",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Novo Conhecimento",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "path": "subconciente_jorgeadv",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Muito obrigado, a base foi atualizada!!!"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -96,
        848
      ],
      "id": "21e732e4-2ae2-4799-888e-a0de19b9aae3",
      "name": "On form submission",
      "webhookId": "fe2bdcf6-61d8-426c-b49c-c6842bbf2006",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "informacoes",
          "mode": "list",
          "cachedResultName": "informacoes"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        880
      ],
      "id": "54953745-e6f2-4b3e-adae-51f38d5c6869",
      "name": "editar informação1",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "content": "## APAGAR INFORMAÇÕES",
        "height": 252,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        800
      ],
      "id": "bc09e4bc-abfa-413c-9812-788f49b26c49",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "informacoes",
          "mode": "list",
          "cachedResultName": "informacoes"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "a2b4fa14-e84a-467a-90c4-88ead29521dd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        880
      ],
      "id": "4bf49696-0822-4386-89c0-ff081391821a",
      "name": "Puxar Informações1",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "informacao",
          "mode": "list",
          "cachedResultName": "informacao"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "text": "=### Benefício principal\nPermite atendimento inteligente sem necessidade de equipe humana grande.\n\n### Indicação\nEmpresas pequenas ou com foco em automação de atendimento específico.\n\n---\n\n## 2. Agente de Atendimento por Ligação\n### Descrição\nAssistente de voz com IA que realiza e atende chamadas com naturalidade e personalização.\n\n### Funcionalidades\n- Conversa por ligação em tempo real  \n- Coleta informações durante a ligação  \n- Responde dúvidas sobre produtos e serviços  \n- Transfere o atendimento para WhatsApp  \n- Disponível 24/7\n\n### Benefício principal\nAtendimento contínuo, humanizado e com baixo custo operacional.\n\n### Indicação\nEmpresas com alto volume de chamadas e necessidade de resposta imediata.\n\n---\n\n## 3. Assistente IA – Gerador de Conteúdo\n### Descrição\nAgente de IA especializado em criar conteúdo de alto desempenho para redes sociais."
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        624
      ],
      "id": "2a398d18-197f-41bb-8688-8f980a70e1d4",
      "name": "editar informação",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    },
    {
      "parameters": {
        "content": "## EDITAR INFORMAÇÕES",
        "height": 252,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        544
      ],
      "id": "3438ed94-36b5-467e-bbcc-03d7884c5a26",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mapinvest",
          "mode": "list",
          "cachedResultName": "mapinvest"
        },
        "table": {
          "__rl": true,
          "value": "informacao",
          "mode": "list",
          "cachedResultName": "informacao"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "996a3f1b-e8fb-4d33-9687-9a4171d1c17a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        624
      ],
      "id": "5a179072-bd72-4241-a22f-6b947360cbad",
      "name": "Puxar Informações",
      "credentials": {
        "postgres": {
          "id": "7UYAJ6OFne5nPf1F",
          "name": "Postgres Eiai"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "informacoes": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "play": {
      "main": [
        [
          {
            "node": "informacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar Informações1": {
      "main": [
        [
          {
            "node": "editar informação1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar Informações": {
      "main": [
        [
          {
            "node": "editar informação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3baa85af-7b9c-4499-9fce-0df3e837157b",
  "meta": {
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "q1Pc5KNhMd5SNlrA",
  "tags": []
}